{:highlights [{:id #uuid "67d18bb8-3222-428d-9f44-84ea69ad745f",
               :page 1,
               :position {:bounding {:x1 613.1282806396484,
                                     :y1 1301.0834655761719,
                                     :x2 1115.4451141357422,
                                     :y2 1423.9502258300781,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 1074.3307342529297,
                                   :y1 1301.0834655761719,
                                   :x2 1115.2433319091797,
                                   :y2 1319.3409118652344,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 1322.0367126464844,
                                   :x2 1115.3093719482422,
                                   :y2 1340.2941589355469,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 1342.8330383300781,
                                   :x2 1114.5001678466797,
                                   :y2 1361.0904846191406,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 1363.7862854003906,
                                   :x2 1115.4451141357422,
                                   :y2 1382.0437316894531,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 1384.7395324707031,
                                   :x2 1115.2283172607422,
                                   :y2 1402.9969787597656,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 1405.6927795410156,
                                   :x2 658.1224822998047,
                                   :y2 1423.9502258300781,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 1},
               :content {:text "Since chronic pain is difﬁcult and costly to treat, and the available pharmacological treatments for the prevention of CPSP have shown underwhelming results, the identiﬁcation of modiﬁable risk factors is necessary to develop better prevention and risk reduction strategies"},
               :properties {:color "yellow"}}
              {:id #uuid "67d18bd5-6af7-4baf-8c2a-04fd4216dd22",
               :page 2,
               :position {:bounding {:x1 75.11929321289062,
                                     :y1 131.48904418945312,
                                     :x2 577.3365783691406,
                                     :y2 233.40255737304688,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 340.5539093017578,
                                   :y1 131.48904418945312,
                                   :x2 577.2554168701172,
                                   :y2 149.74649047851562,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 152.28543090820312,
                                   :x2 577.3365783691406,
                                   :y2 170.54281616210938,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 173.23867797851562,
                                   :x2 577.3256683349609,
                                   :y2 191.49606323242188,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 194.19186401367188,
                                   :x2 577.3106384277344,
                                   :y2 212.44931030273438,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 215.14511108398438,
                                   :x2 137.49325561523438,
                                   :y2 233.40255737304688,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 2},
               :content {:text "genetic predisposition [7,8], female sex, younger age, preoperative pain, previous chronic pain [5], psychosocial factors [9e12], duration of surgery [2,13], surgical technique [14] and severity and duration of acute postsurgical pain[15e17]."},
               :properties {:color "yellow"}}
              {:id #uuid "67d18c31-cf3b-428e-917a-a06d637f4c0c",
               :page 2,
               :position {:bounding {:x1 75.11929321289062,
                                     :y1 612.6290588378906,
                                     :x2 577.3361511230469,
                                     :y2 672.8000793457031,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 109.92245483398438,
                                   :y1 612.6290588378906,
                                   :x2 577.3000183105469,
                                   :y2 630.8865051269531,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 633.5894470214844,
                                   :x2 577.3361511230469,
                                   :y2 651.8468322753906,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 654.5426940917969,
                                   :x2 324.56541442871094,
                                   :y2 672.8000793457031,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 2},
               :content {:text "leep and pain have a bidirectional relationship [25,26], with pain leading to sleep disturbances [27,28], and sleep disturbances contributing to increased pain"},
               :properties {:color "yellow"}}
              {:id #uuid "67d18c45-6ff2-469f-b153-80cb73d518cf",
               :page 2,
               :position {:bounding {:x1 75.11929321289062,
                                     :y1 654.5426940917969,
                                     :x2 577.4366912841797,
                                     :y2 714.5425720214844,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 495.98130798339844,
                                   :y1 654.5426940917969,
                                   :x2 577.4366912841797,
                                   :y2 672.8000793457031,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 675.3318786621094,
                                   :x2 577.2541198730469,
                                   :y2 693.5893249511719,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 696.2851257324219,
                                   :x2 456.8523864746094,
                                   :y2 714.5425720214844,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 2},
               :content {:text "in various chronic pain conditions, sleep disturbances have been found to be better predictors of increased pain than vice versa "},
               :properties {:color "yellow"}}
              {:id #uuid "67d18c57-6391-4035-9f2b-7dfaa60d0903",
               :page 2,
               :position {:bounding {:x1 75.11929321289062,
                                     :y1 717.2383813858032,
                                     :x2 577.3423767089844,
                                     :y2 777.245400428772,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 329.9078826904297,
                                   :y1 717.2383813858032,
                                   :x2 577.3301849365234,
                                   :y2 735.4957666397095,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 738.198769569397,
                                   :x2 577.3423767089844,
                                   :y2 756.4561548233032,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 758.9879541397095,
                                   :x2 431.7065734863281,
                                   :y2 777.245400428772,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 2},
               :content {:text " current evidence suggests that preoperative [34] and perioperative sleep disturbances and disorders are a risk factor for acute postsurgical pain"},
               :properties {:color "yellow"}}
              {:id #uuid "67d1911d-7fa2-4941-8148-ed46066de891",
               :page 3,
               :position {:bounding {:x1 613.1282806396484,
                                     :y1 1365.8545532226562,
                                     :x2 1000.7089080810547,
                                     :y2 1384.1119384765625,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 613.1282806396484,
                                   :y1 1365.8545532226562,
                                   :x2 1000.7089080810547,
                                   :y2 1384.1119384765625,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 3},
               :content {:text "The samples consisted predominantly of women"},
               :properties {:color "yellow"}}
              {:id #uuid "67d19182-993f-4c8b-b960-9ad0f211db6e",
               :page 8,
               :position {:bounding {:x1 75.11929321289062,
                                     :y1 319.75439453125,
                                     :x2 577.3440246582031,
                                     :y2 379.76141357421875,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 99.04649353027344,
                                   :y1 319.75439453125,
                                   :x2 577.3429412841797,
                                   :y2 338.0118408203125,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 340.7076416015625,
                                   :x2 577.3440246582031,
                                   :y2 358.965087890625,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 361.5040283203125,
                                   :x2 307.4385223388672,
                                   :y2 379.76141357421875,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 8},
               :content {:text "The included studies assessed only self-reported sleep disturbances, sleep duration and medical diagnosis of insomnia as predictors of CPSP or opioid use."},
               :properties {:color "yellow"}}
              {:id #uuid "67d191d5-2880-42ac-ab53-4f6db9cb87ec",
               :page 8,
               :position {:bounding {:x1 75.11929321289062,
                                     :y1 633.5894584655762,
                                     :x2 577.3062591552734,
                                     :y2 714.5425834655762,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 244.92478942871094,
                                   :y1 633.5894584655762,
                                   :x2 576.9683074951172,
                                   :y2 651.8468437194824,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 654.5427055358887,
                                   :x2 577.3062591552734,
                                   :y2 672.8000907897949,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 675.3318901062012,
                                   :x2 577.3005828857422,
                                   :y2 693.5893363952637,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 696.2851371765137,
                                   :x2 556.1534729003906,
                                   :y2 714.5425834655762,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 8},
               :content {:text "The presence of pain was assessed as having a pain intensity 3 (one study), 4 (one study) or >5 (one study) measured using a Numeric rating scale, or 4 as measured by the pain severity subscale of the Brief pain inventory (one study)."},
               :properties {:color "yellow"}}
              {:id #uuid "67d193f4-f91c-40ff-8b93-80038593183d",
               :page 10,
               :position {:bounding {:x1 75.11929321289062,
                                     :y1 361.5040283203125,
                                     :x2 577.4326019287109,
                                     :y2 421.66790771484375,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 99.04649353027344,
                                   :y1 361.5040283203125,
                                   :x2 577.4326019287109,
                                   :y2 379.76141357421875,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 382.45721435546875,
                                   :x2 577.3058319091797,
                                   :y2 400.71466064453125,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 403.41046142578125,
                                   :x2 303.12452697753906,
                                   :y2 421.66790771484375,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 10},
               :content {:text "This meta-analysis detected a signiﬁcant weak effect of sleep disturbances and disorders on CPSP, with an estimate of r ¼ 0.13(95% CI 0.06e0.20; p < .01)"},
               :properties {:color "green"}}
              {:id #uuid "67d1949b-3872-42ec-b4ad-2424b703f6d5",
               :page 12,
               :position {:bounding {:x1 75.11929321289062,
                                     :y1 392.46316146850586,
                                     :x2 577.5642547607422,
                                     :y2 473.58031845092773,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 376.1393280029297,
                                   :y1 392.46316146850586,
                                   :x2 577.5642547607422,
                                   :y2 410.72057723999023,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 413.41640853881836,
                                   :x2 577.2462463378906,
                                   :y2 431.67382431030273,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 434.36965560913086,
                                   :x2 577.3017425537109,
                                   :y2 452.62707138061523,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 455.32287216186523,
                                   :x2 137.59246826171875,
                                   :y2 473.58031845092773,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 12},
               :content {:text "Despite the conﬂicting evidence [67,68], the majority of studies suggest that objective and subjective measures of sleep are not necessarily associated[69e71]"},
               :properties {:color "purple"}}
              {:id #uuid "67d194d7-b9c5-4133-bc8a-329c35c23713",
               :page 12,
               :position {:bounding {:x1 75.11929321289062,
                                     :y1 1062.025447845459,
                                     :x2 577.2663269042969,
                                     :y2 1101.079158782959,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 99.04649353027344,
                                   :y1 1062.025447845459,
                                   :x2 577.2620697021484,
                                   :y2 1080.2828941345215,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 75.11929321289062,
                                   :y1 1082.8217124938965,
                                   :x2 577.2663269042969,
                                   :y2 1101.079158782959,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 12},
               :content {:text "Importantly, our results are consistent with those of systematic reviews and meta-analyses conducted on chronic pain conditions."},
               :properties {:color "yellow"}}
              {:id #uuid "67d19540-bd7b-4257-a34a-42b6e597c4c2",
               :page 12,
               :position {:bounding {:x1 613.1282806396484,
                                     :y1 257.0587348937988,
                                     :x2 1115.5018768310547,
                                     :y2 358.9650764465332,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 637.0555267333984,
                                   :y1 257.0587348937988,
                                   :x2 1115.2911834716797,
                                   :y2 275.3161506652832,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 277.84794998168945,
                                   :x2 1115.2198944091797,
                                   :y2 296.1053657531738,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 298.80119705200195,
                                   :x2 1115.5018768310547,
                                   :y2 317.0586128234863,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 319.7544136047363,
                                   :x2 1115.2319793701172,
                                   :y2 338.0118293762207,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 340.7076606750488,
                                   :x2 643.4069671630859,
                                   :y2 358.9650764465332,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 12},
               :content {:text "Interestingly, mood is another possible mediator of the association between sleep and pain. Indeed, sleep quality predicts nextday mood [87,88], and negative mood increases self-reported pain, decreases pain tolerance [89], and alters pain responses[90]"},
               :properties {:color "yellow"}}
              {:id #uuid "67d19573-84c9-497e-9a77-196efe6e9ec2",
               :page 12,
               :position {:bounding {:x1 613.1282806396484,
                                     :y1 382.4572547376156,
                                     :x2 1115.2739715576172,
                                     :y2 505.3239539563656,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 1070.9296112060547,
                                   :y1 382.4572547376156,
                                   :x2 1115.2562713623047,
                                   :y2 400.71467050909996,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 403.41047129034996,
                                   :x2 1115.2427215576172,
                                   :y2 421.66788706183434,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 424.36371836066246,
                                   :x2 1115.2739715576172,
                                   :y2 442.62113413214684,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 445.16007456183434,
                                   :x2 1115.2344207763672,
                                   :y2 463.4174903333187,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 466.1132911145687,
                                   :x2 1115.2361297607422,
                                   :y2 484.3707068860531,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 487.0665381848812,
                                   :x2 993.9091033935547,
                                   :y2 505.3239539563656,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 12},
               :content {:text "Other evidence suggests that sleep disturbances impact pain interference through negative affect (i.e., the extent to which a person experiences subjective distress, unpleasant engagement, and emotional pain [92]) in adults and older patients [93], as well as in children with sickle cell disease [94] and chronic pain [95]."},
               :properties {:color "yellow"}}
              {:id #uuid "67d195a1-80a3-4364-ace9-8e699fa433af",
               :page 12,
               :position {:bounding {:x1 613.1282806396484,
                                     :y1 696.2851257324219,
                                     :x2 1115.2308807373047,
                                     :y2 777.245361328125,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 856.8976898193359,
                                   :y1 696.2851257324219,
                                   :x2 1114.5489959716797,
                                   :y2 714.5425415039062,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 717.2383728027344,
                                   :x2 1115.2308807373047,
                                   :y2 735.4957885742188,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 738.1987609863281,
                                   :x2 1114.5388641357422,
                                   :y2 756.4561767578125,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 613.1282806396484,
                                   :y1 758.9879455566406,
                                   :x2 803.7100677490234,
                                   :y2 777.245361328125,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 12},
               :content {:text "In fact, in the multivariable models that included depression, the association between sleep disturbances, sleep disorders, and CPSP or opioid use at follow-up was signiﬁcant in ﬁve studies"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
