{:highlights [{:id #uuid "67c869ef-f312-413c-a26b-23937d7229b1",
               :page 1,
               :position {:bounding {:x1 70.39089965820312,
                                     :y1 897.1381225585938,
                                     :x2 487.20977783203125,
                                     :y2 964.7191162109375,
                                     :width 986.0000000000001,
                                     :height 1314.6821269153816},
                          :rects ({:x1 90.21731567382812,
                                   :y1 897.1381225585938,
                                   :x2 487.20977783203125,
                                   :y2 912.6569213867188,
                                   :width 986.0000000000001,
                                   :height 1314.6821269153816}
                                  {:x1 70.39089965820312,
                                   :y1 914.4969482421875,
                                   :x2 486.8104553222656,
                                   :y2 930.0157470703125,
                                   :width 986.0000000000001,
                                   :height 1314.6821269153816}
                                  {:x1 70.39089965820312,
                                   :y1 931.855712890625,
                                   :x2 487.0391845703125,
                                   :y2 947.3745727539062,
                                   :width 986.0000000000001,
                                   :height 1314.6821269153816}
                                  {:x1 70.39089965820312,
                                   :y1 949.2003173828125,
                                   :x2 97.22075653076172,
                                   :y2 964.7191162109375,
                                   :width 986.0000000000001,
                                   :height 1314.6821269153816}),
                          :page 1},
               :content {:text "Chronic pain and sleep disorders are common in the general population. The prevalence of chronic pain ranges from 10% to 40% [1], which is comparable with the prevalence of sleep disorders (10–36%"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86a24-acdb-46b6-86fc-bde451d51117",
               :page 1,
               :position {:bounding {:x1 517.6405639648438,
                                     :y1 897.1381225585938,
                                     :x2 934.3185424804688,
                                     :y2 947.3745727539062,
                                     :width 986.0000000000001,
                                     :height 1314.6821269153816},
                          :rects ({:x1 610.1687622070312,
                                   :y1 897.1381225585938,
                                   :x2 934.3185424804688,
                                   :y2 912.6569213867188,
                                   :width 986.0000000000001,
                                   :height 1314.6821269153816}
                                  {:x1 517.6405639648438,
                                   :y1 914.4969482421875,
                                   :x2 934.18603515625,
                                   :y2 930.0157470703125,
                                   :width 986.0000000000001,
                                   :height 1314.6821269153816}
                                  {:x1 517.6405639648438,
                                   :y1 931.855712890625,
                                   :x2 798.3770751953125,
                                   :y2 947.3745727539062,
                                   :width 986.0000000000001,
                                   :height 1314.6821269153816}),
                          :page 1},
               :content {:text " Patients with a range of sleep disorders, such as obstructive sleep apnea syndrome (OSAS) [17] and restless legs syndrome (RLS) [18], seem to be hyperalgesi"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86a89-b50d-46a0-b547-c93a4dc3c73e",
               :page 1,
               :position {:bounding {:x1 517.6405639648438,
                                     :y1 1070.6834106445312,
                                     :x2 934.2703247070312,
                                     :y2 1103.6894226074219,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 537.4527587890625,
                                   :y1 1070.6834106445312,
                                   :x2 934.2703247070312,
                                   :y2 1086.2022399902344,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 517.6405639648438,
                                   :y1 1088.1705932617188,
                                   :x2 827.9598388671875,
                                   :y2 1103.6894226074219,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 1},
               :content {:text "The ﬁrst experimental study that showed an effect of sleep deprivation on pain perception was published in 1975"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86abc-70cb-4fb7-aaaf-83ad8a44e82d",
               :page 1,
               :position {:bounding {:x1 517.6405639648438,
                                     :y1 1140.2327880859375,
                                     :x2 934.3427124023438,
                                     :y2 1190.4549560546875,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 873.6013793945312,
                                   :y1 1140.2327880859375,
                                   :x2 933.9967651367188,
                                   :y2 1155.7515869140625,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 517.6405639648438,
                                   :y1 1157.5773315429688,
                                   :x2 934.3427124023438,
                                   :y2 1173.0961303710938,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 517.6405639648438,
                                   :y1 1174.9361572265625,
                                   :x2 827.126220703125,
                                   :y2 1190.4549560546875,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 1},
               :content {:text "The same study group extended the systematic review in 2014 and found evidence of the hyperalgesic effect of sleep deprivatio"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86ad2-3bc3-4b1d-9ad0-c031bff88a0c",
               :page 2,
               :position {:bounding {:x1 50.8640251159668,
                                     :y1 158.95367431640625,
                                     :x2 467.5159149169922,
                                     :y2 191.831298828125,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 170.4088592529297,
                                   :y1 158.95367431640625,
                                   :x2 467.5159149169922,
                                   :y2 174.47247314453125,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 50.8640251159668,
                                   :y1 176.31243896484375,
                                   :x2 381.20563888549805,
                                   :y2 191.831298828125,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 2},
               :content {:text " sleep and pain could share similar neurotransmitter systems, such as the dopaminergic system"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86ae1-09ed-4dff-a736-e1af46921d1e",
               :page 2,
               :position {:bounding {:x1 299.049560546875,
                                     :y1 193.65704345703125,
                                     :x2 467.49853515625,
                                     :y2 209.17584228515625,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 299.049560546875,
                                   :y1 193.65704345703125,
                                   :x2 467.49853515625,
                                   :y2 209.17584228515625,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 2},
               :content {:text "endogenous opioid system"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86b44-9c12-47c1-9062-d4f56dd8750a",
               :page 2,
               :position {:bounding {:x1 590.7222900390625,
                                     :y1 1219.638313293457,
                                     :x2 590.7393798828125,
                                     :y2 1232.4184646606445,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 590.7222900390625,
                                   :y1 1219.638313293457,
                                   :x2 590.7393798828125,
                                   :y2 1232.4184646606445,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 2},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "67c86b50-11b2-4b4e-a3bb-467b559f5924",
               :page 2,
               :position {:bounding {:x1 914.7122192382812,
                                     :y1 351.0273742675781,
                                     :x2 914.7293090820312,
                                     :y2 366.5461730957031,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 914.7122192382812,
                                   :y1 351.0273742675781,
                                   :x2 914.7293090820312,
                                   :y2 366.5461730957031,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 2},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "67c86c1f-3770-4958-9fea-d18ca70093b4",
               :page 3,
               :position {:bounding {:x1 517.6405639648438,
                                     :y1 1165.4651184082031,
                                     :x2 934.2083129882812,
                                     :y2 1215.7015380859375,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 798.4492797851562,
                                   :y1 1165.4651184082031,
                                   :x2 934.2083129882812,
                                   :y2 1180.9839172363281,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 517.6405639648438,
                                   :y1 1182.8239135742188,
                                   :x2 934.0577392578125,
                                   :y2 1198.3427124023438,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 517.6405639648438,
                                   :y1 1200.1827392578125,
                                   :x2 586.1882934570312,
                                   :y2 1215.7015380859375,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 3},
               :content {:text " whereas the participants in two studies were subjected to only slow-wave-sleep deprivatio"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86c90-0182-4c02-b83b-728d9da7dc88",
               :page 5,
               :position {:bounding {:x1 355.69606828689575,
                                     :y1 704.6792964935303,
                                     :x2 450.8371205329895,
                                     :y2 717.4594478607178,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 355.69606828689575,
                                   :y1 704.6792964935303,
                                   :x2 450.8371205329895,
                                   :y2 717.4594478607178,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 5},
               :content {:text " conﬁdence interva"},
               :properties {:color "red"}}
              {:id #uuid "67c86cb0-451e-4d1c-98aa-d45b00f939e0",
               :page 5,
               :position {:bounding {:x1 70.39090013504028,
                                     :y1 1026.6374206542969,
                                     :x2 487.0409245491028,
                                     :y2 1059.5150451660156,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 90.21731615066528,
                                   :y1 1026.6374206542969,
                                   :x2 487.0409245491028,
                                   :y2 1042.1562194824219,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 70.39090013504028,
                                   :y1 1043.9962463378906,
                                   :x2 170.9318470954895,
                                   :y2 1059.5150451660156,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 5},
               :content {:text "This meta-analysis conﬁrms the effect of sleep deprivation on pain perception."},
               :properties {:color "green"}}
              {:id #uuid "67c86cd4-1f7b-45fc-a690-0df3d53734c5",
               :page 5,
               :position {:bounding {:x1 70.39090013504028,
                                     :y1 1148.1205749511719,
                                     :x2 487.32263231277466,
                                     :y2 1198.3427429199219,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 90.21731615066528,
                                   :y1 1148.1205749511719,
                                   :x2 487.2488408088684,
                                   :y2 1163.6393737792969,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 70.39090013504028,
                                   :y1 1165.4651184082031,
                                   :x2 487.32263231277466,
                                   :y2 1180.9839172363281,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 70.39090013504028,
                                   :y1 1182.8239440917969,
                                   :x2 394.73971605300903,
                                   :y2 1198.3427429199219,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 5},
               :content {:text "Patients with chronic pain exhibit several changes in sleep, such as frequent sleep-stage shifts, increased nocturnal awakenings, and decreased slow-wave or rapid-eye-movement sleep"},
               :properties {:color "green"}}
              {:id #uuid "67c86d48-9ac0-429b-8f1a-0759ea43698a",
               :page 5,
               :position {:bounding {:x1 517.6405873298645,
                                     :y1 1043.9962463378906,
                                     :x2 934.2518544197083,
                                     :y2 1076.8595886230469,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 713.1814198493958,
                                   :y1 1043.9962463378906,
                                   :x2 934.2518544197083,
                                   :y2 1059.5150451660156,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 517.6405873298645,
                                   :y1 1061.3407897949219,
                                   :x2 869.8188710212708,
                                   :y2 1076.8595886230469,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 5},
               :content {:text "Sleep and pain are critical homeostatic systems that interact in a bidirectional manner"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86d59-7a6d-4902-ab9b-3df77beffff0",
               :page 5,
               :position {:bounding {:x1 517.6405873298645,
                                     :y1 1096.0584106445312,
                                     :x2 934.5948719978333,
                                     :y2 1128.9217529296875,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 660.539391040802,
                                   :y1 1096.0584106445312,
                                   :x2 934.5948719978333,
                                   :y2 1111.5772094726562,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 517.6405873298645,
                                   :y1 1113.4029541015625,
                                   :x2 586.4948964118958,
                                   :y2 1128.9217529296875,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 5},
               :content {:text " sleep quality is a consistent predictor of pain the next da"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86d75-477b-41b3-917a-a1bfbb92af3c",
               :page 5,
               :position {:bounding {:x1 528.3988881111145,
                                     :y1 1165.465087890625,
                                     :x2 803.4497303962708,
                                     :y2 1180.9839477539062,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 528.3988881111145,
                                   :y1 1165.465087890625,
                                   :x2 803.4497303962708,
                                   :y2 1180.9839477539062,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 5},
               :content {:text " predictive of pain three years in the future"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86da7-1853-4f95-a040-3e0f4ac36d1c",
               :page 6,
               :position {:bounding {:x1 498.1137013435364,
                                     :y1 158.95362854003906,
                                     :x2 914.760582447052,
                                     :y2 191.8312530517578,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 624.7885365486145,
                                   :y1 158.95362854003906,
                                   :x2 914.760582447052,
                                   :y2 174.4724578857422,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 498.1137013435364,
                                   :y1 176.3124542236328,
                                   :x2 590.2694325447083,
                                   :y2 191.8312530517578,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 6},
               :content {:text " Systemic inﬂammation resulted in a lower pain threshold"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86dbb-215c-4492-bed2-e939a83dfcbe",
               :page 6,
               :position {:bounding {:x1 498.1137013435364,
                                     :y1 211.0158233642578,
                                     :x2 914.7961659431458,
                                     :y2 261.2379608154297,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 758.466392993927,
                                   :y1 211.0158233642578,
                                   :x2 914.7184681892395,
                                   :y2 226.5346221923828,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 498.1137013435364,
                                   :y1 228.36036682128906,
                                   :x2 914.7961659431458,
                                   :y2 243.87916564941406,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 498.1137013435364,
                                   :y1 245.7191619873047,
                                   :x2 524.7636952400208,
                                   :y2 261.2379608154297,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 6},
               :content {:text "Melatonin, which is an essential regulator of the circadian rhythm, also interacts with pain"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86dfb-1b1b-4921-bb0a-dc3a1bde0a9d",
               :page 6,
               :position {:bounding {:x1 498.1137013435364,
                                     :y1 453.9678192138672,
                                     :x2 914.745689868927,
                                     :y2 504.1899871826172,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 684.3228993415833,
                                   :y1 453.9678192138672,
                                   :x2 914.745689868927,
                                   :y2 469.48663330078125,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 498.1137013435364,
                                   :y1 471.3123779296875,
                                   :x2 914.739830493927,
                                   :y2 486.8311767578125,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 498.1137013435364,
                                   :y1 488.6711883544922,
                                   :x2 588.3595204353333,
                                   :y2 504.1899871826172,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 6},
               :content {:text ". There is evidence that patients with chronic pain and insomnia would beneﬁt from sleep treatment in both disorders"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86e1b-d4ba-48be-bc17-01172d64d669",
               :page 6,
               :position {:bounding {:x1 498.1137013435364,
                                     :y1 575.4367065429688,
                                     :x2 914.801842212677,
                                     :y2 677.7352905273438,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 650.1987538337708,
                                   :y1 575.4367065429688,
                                   :x2 914.7807850837708,
                                   :y2 590.9555053710938,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 498.1137013435364,
                                   :y1 592.7955169677734,
                                   :x2 914.801842212677,
                                   :y2 608.3143157958984,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 498.1137013435364,
                                   :y1 610.1543273925781,
                                   :x2 914.754723072052,
                                   :y2 625.6731262207031,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 498.1137013435364,
                                   :y1 627.4988708496094,
                                   :x2 914.760094165802,
                                   :y2 643.0176849365234,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 498.1137013435364,
                                   :y1 644.8576812744141,
                                   :x2 914.7763295173645,
                                   :y2 660.3764953613281,
                                   :width 986,
                                   :height 1314.6821269153813}
                                  {:x1 498.1137013435364,
                                   :y1 662.2164916992188,
                                   :x2 791.8128895759583,
                                   :y2 677.7352905273438,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 6},
               :content {:text " Different types of sleep deprivation (total sleep deprivation, sleep restriction and partial sleep deprivation, such as slow-wave-sleep deprivation) and pain outcomes (visual analog scale, quantitative sensory testing such as heat and cold pain threshold, mechanical pain threshold, and laser-evoked pain threshold) were compared within the sample"},
               :properties {:color "yellow"}}
              {:id #uuid "67c86e54-de09-406b-bcbe-2c7f1ea61360",
               :page 6,
               :position {:bounding {:x1 736.8644642829895,
                                     :y1 957.2306823730469,
                                     :x2 837.216392993927,
                                     :y2 972.7494812011719,
                                     :width 986,
                                     :height 1314.6821269153813},
                          :rects ({:x1 736.8644642829895,
                                   :y1 957.2306823730469,
                                   :x2 837.216392993927,
                                   :y2 972.7494812011719,
                                   :width 986,
                                   :height 1314.6821269153813}),
                          :page 6},
               :content {:text "publication bias"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
