{:highlights [{:id #uuid "67c96485-0499-4288-a170-3ab1e6897168",
               :page 2,
               :position {:bounding {:x1 100.45858764648438,
                                     :y1 463.42462158203125,
                                     :x2 479.0197448730469,
                                     :y2 510.8653564453125,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 181.01943969726562,
                                   :y1 463.42462158203125,
                                   :x2 478.10443115234375,
                                   :y2 477.11767578125,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 480.2984619140625,
                                   :x2 479.0197448730469,
                                   :y2 493.99151611328125,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 497.17230224609375,
                                   :x2 234.2532958984375,
                                   :y2 510.8653564453125,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 2},
               :content {:text "A study in European countries indicated that almost 30% of patients with major depressive disorders reported a pain episode"},
               :properties {:color "yellow"}}
              {:id #uuid "67c964c9-efbd-454d-a4c1-c86c16cbc1e5",
               :page 2,
               :position {:bounding {:x1 100.45858764648438,
                                     :y1 665.6397857666016,
                                     :x2 478.9378967285156,
                                     :y2 696.1924285888672,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 341.6410217285156,
                                   :y1 665.6397857666016,
                                   :x2 478.9378967285156,
                                   :y2 679.3328399658203,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 682.4993743896484,
                                   :x2 426.5440979003906,
                                   :y2 696.1924285888672,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 2},
               :content {:text "previous studies have shown an association between sleep quality and pai"},
               :properties {:color "yellow"}}
              {:id #uuid "67c964df-9130-41f0-974c-377bdbc1d3f8",
               :page 2,
               :position {:bounding {:x1 100.45858764648438,
                                     :y1 699.2448272705078,
                                     :x2 479.0023956298828,
                                     :y2 729.8117523193359,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 123.01478576660156,
                                   :y1 699.2448272705078,
                                   :x2 479.0023956298828,
                                   :y2 712.9379119873047,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 716.1186981201172,
                                   :x2 296.16436767578125,
                                   :y2 729.8117523193359,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 2},
               :content {:text "risk of pain development was 50% higher amongst people who reported sleep disturbance"},
               :properties {:color "yellow"}}
              {:id #uuid "67c9654a-6017-411c-9d23-c028a28f2baf",
               :page 2,
               :position {:bounding {:x1 100.45858764648438,
                                     :y1 713.1803741455078,
                                     :x2 479.2034606933594,
                                     :y2 763.5594329833984,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 313.1147155761719,
                                   :y1 713.1803741455078,
                                   :x2 479.2034606933594,
                                   :y2 725.2045745849609,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 732.9925384521484,
                                   :x2 479.078369140625,
                                   :y2 746.6855926513672,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 749.8663787841797,
                                   :x2 152.4044647216797,
                                   :y2 763.5594329833984,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 2},
               :content {:text "Sleep disturbance is one of the most consistent symptoms associated with depressive disorder"},
               :properties {:color "yellow"}}
              {:id #uuid "67c96558-1d0a-4488-92f2-27d2fbe66a9e",
               :page 2,
               :position {:bounding {:x1 100.45858764648438,
                                     :y1 783.4857025146484,
                                     :x2 479.0364685058594,
                                     :y2 814.1667327880859,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 334.47747802734375,
                                   :y1 783.4857025146484,
                                   :x2 479.0364685058594,
                                   :y2 797.1787567138672,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 800.4736785888672,
                                   :x2 345.76922607421875,
                                   :y2 814.1667327880859,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 2},
               :content {:text " that depression, pain, and sleep disturbance are interrelated"},
               :properties {:color "yellow"}}
              {:id #uuid "67c9659f-0204-4c73-a4c8-31e13b8d33d5",
               :page 2,
               :position {:bounding {:x1 100.45858764648438,
                                     :y1 1036.2938537597656,
                                     :x2 478.9949951171875,
                                     :y2 1066.7323913574219,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 289.51519775390625,
                                   :y1 1036.2938537597656,
                                   :x2 478.9949951171875,
                                   :y2 1049.9869689941406,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 1053.0393371582031,
                                   :x2 248.09634399414062,
                                   :y2 1066.7323913574219,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 2},
               :content {:text "self-reported or measured by a validated questionnaire"},
               :properties {:color "yellow"}}
              {:id #uuid "67c965bd-422c-47e2-82e5-1a8ea893cdb4",
               :page 2,
               :position {:bounding {:x1 674.69970703125,
                                     :y1 883.81591796875,
                                     :x2 826.6336669921875,
                                     :y2 897.5089721679688,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 674.69970703125,
                                   :y1 883.81591796875,
                                   :x2 826.6336669921875,
                                   :y2 897.5089721679688,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 2},
               :content {:text " longitudinal studies onl"},
               :properties {:color "yellow"}}
              {:id #uuid "67c965e9-08d4-452f-a29d-79d67902bb06",
               :page 2,
               :position {:bounding {:x1 506.6861267089844,
                                     :y1 1119.6361389160156,
                                     :x2 885.2432250976562,
                                     :y2 1150.2030639648438,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 814.1024169921875,
                                   :y1 1119.6361389160156,
                                   :x2 885.2432250976562,
                                   :y2 1133.3292236328125,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 506.6861267089844,
                                   :y1 1136.510009765625,
                                   :x2 738.5577392578125,
                                   :y2 1150.2030639648438,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 2},
               :content {:text " Studies on acute or undeﬁned pain were exclude"},
               :properties {:color "yellow"}}
              {:id #uuid "67c9664f-c28b-4485-91ec-9855dc2d0c1a",
               :page 4,
               :position {:bounding {:x1 168.67245483398438,
                                     :y1 984.9163513183594,
                                     :x2 352.9636535644531,
                                     :y2 998.6094665527344,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 168.67245483398438,
                                   :y1 984.9163513183594,
                                   :x2 352.9636535644531,
                                   :y2 998.6094665527344,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 4},
               :content {:text "predominantly female (75.8%)"},
               :properties {:color "yellow"}}
              {:id #uuid "67c9675b-ff15-4b52-9326-b553bfe7d534",
               :page 13,
               :position {:bounding {:x1 100.4585862159729,
                                     :y1 530.1497650146484,
                                     :x2 479.0048203468323,
                                     :y2 577.4621429443359,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 255.8896164894104,
                                   :y1 530.1497650146484,
                                   :x2 478.93081521987915,
                                   :y2 543.8428192138672,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.4585862159729,
                                   :y1 546.8952484130859,
                                   :x2 479.0048203468323,
                                   :y2 560.5883026123047,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.4585862159729,
                                   :y1 563.7690887451172,
                                   :x2 280.02468729019165,
                                   :y2 577.4621429443359,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 13},
               :content {:text " our meta-analysis supports the hypothesis that sleep disturbance mediates the association between depression and pain"},
               :properties {:color "green"}}
              {:id #uuid "67c96770-a8bd-4d50-8b7d-6941e1d38e29",
               :page 13,
               :position {:bounding {:x1 100.4585862159729,
                                     :y1 563.7690887451172,
                                     :x2 479.23135232925415,
                                     :y2 644.8148956298828,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 358.4016709327698,
                                   :y1 563.7690887451172,
                                   :x2 479.23135232925415,
                                   :y2 577.4621429443359,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.4585862159729,
                                   :y1 580.6429290771484,
                                   :x2 479.0104966163635,
                                   :y2 594.3359832763672,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.4585862159729,
                                   :y1 597.5025177001953,
                                   :x2 479.0040879249573,
                                   :y2 611.1955718994141,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.4585862159729,
                                   :y1 614.2480010986328,
                                   :x2 478.97512674331665,
                                   :y2 627.9410552978516,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.4585862159729,
                                   :y1 631.1218414306641,
                                   :x2 200.5801682472229,
                                   :y2 644.8148956298828,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 13},
               :content {:text "prior research has documented different directions of the relations amongst the three constructs.81e83 The interrelation between these variables explains the inconsistencies in the literature regarding these pathways."},
               :properties {:color "yellow"}}
              {:id #uuid "67c967a2-cdfb-4efc-9ef1-4b23129addc9",
               :page 13,
               :position {:bounding {:x1 100.45858764648438,
                                     :y1 833.32275390625,
                                     :x2 479.18902587890625,
                                     :y2 964.8617248535156,
                                     :width 986,
                                     :height 1278.1494602985874},
                          :rects ({:x1 413.9258728027344,
                                   :y1 833.32275390625,
                                   :x2 478.9140930175781,
                                   :y2 847.0158081054688,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 850.0682067871094,
                                   :x2 479.0337829589844,
                                   :y2 863.7612915039062,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 866.9420776367188,
                                   :x2 479.18902587890625,
                                   :y2 880.6351318359375,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 883.81591796875,
                                   :x2 479.0113220214844,
                                   :y2 897.5089721679688,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 900.6897583007812,
                                   :x2 479.1827697753906,
                                   :y2 914.3828125,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 917.4352416992188,
                                   :x2 479.04515075683594,
                                   :y2 931.1283264160156,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 934.2948303222656,
                                   :x2 479.04583740234375,
                                   :y2 947.9878845214844,
                                   :width 986,
                                   :height 1278.1494602985874}
                                  {:x1 100.45858764648438,
                                   :y1 951.1686706542969,
                                   :x2 416.9136047363281,
                                   :y2 964.8617248535156,
                                   :width 986,
                                   :height 1278.1494602985874}),
                          :page 13},
               :content {:text "Serotonin, for example, has long been recognised as a critical regulatory neurotransmitter in the sleeping and wakening cycle. 88 Serotonin is also believed to play an essential role in the pathobiology of depression 89 and has been involved in pain modulation. 90 Therefore, some studies have suggested serotonergic signalling dysfunction as the underlying mechanism connecting pain, sleep dysfunction, and depression"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
