{:highlights [{:id #uuid "68024fa1-3f24-4dad-bd2d-9eeeed09e247",
               :page 1,
               :position {:bounding {:x1 115.15010261535645,
                                     :y1 935.2718811035156,
                                     :x2 602.8369312286377,
                                     :y2 1112.0193481445312,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 153.53347969055176,
                                   :y1 935.2718811035156,
                                   :x2 518.6349201202393,
                                   :y2 962.6579895019531,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 965.175537109375,
                                   :x2 553.2027759552002,
                                   :y2 992.5616455078125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 995.0791931152344,
                                   :x2 551.5666675567627,
                                   :y2 1022.46533203125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 1024.8187866210938,
                                   :x2 602.8369312286377,
                                   :y2 1052.2049560546875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 1054.7224731445312,
                                   :x2 588.0387744903564,
                                   :y2 1082.1085815429688,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 1084.6332397460938,
                                   :x2 478.83909797668457,
                                   :y2 1112.0193481445312,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "The National Highway Traffic Safety Administration (NHTSA) states that 91,000 police-reported crashes resulting in 50,000 injuries and 800 fatalities annually—amounting to approximately 1%–2% of all crashes, injuries, and deaths—involve drowsy driving"},
               :properties {:color "yellow"}}
              {:id #uuid "68024fc3-aaa3-4f38-93a7-9fc82f972fe4",
               :page 1,
               :position {:bounding {:x1 115.15010261535645,
                                     :y1 1233.99462890625,
                                     :x2 604.9836597442627,
                                     :y2 1440.645751953125,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 115.15010261535645,
                                   :y1 1233.99462890625,
                                   :x2 548.0294361114502,
                                   :y2 1261.3807373046875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 1263.8982543945312,
                                   :x2 587.5954761505127,
                                   :y2 1291.2843627929688,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 1293.8019409179688,
                                   :x2 556.953447341919,
                                   :y2 1321.1880493164062,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 1323.5415649414062,
                                   :x2 570.3925342559814,
                                   :y2 1350.9276733398438,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 1353.4451904296875,
                                   :x2 604.9836597442627,
                                   :y2 1380.831298828125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 1383.348876953125,
                                   :x2 572.737138748169,
                                   :y2 1410.7349853515625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 115.15010261535645,
                                   :y1 1413.2596435546875,
                                   :x2 497.8004627227783,
                                   :y2 1440.645751953125,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "A panel of experts convened by the NHTSA noted that many police officers who investigate crashes are not trained to recognize signs of driver drowsiness, and also that the forms on which they document information about crashes often are not designed to capture information about drowsiness (Higgins et al., 2017)"},
               :properties {:color "yellow"}}
              {:id #uuid "68024fd7-727b-46b1-881a-0b0c5e39b197",
               :page 1,
               :position {:bounding {:x1 681.6506519317627,
                                     :y1 1024.9899597167969,
                                     :x2 1189.6483325958252,
                                     :y2 1112.1834106445312,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 733.0192432403564,
                                   :y1 1024.9899597167969,
                                   :x2 1189.6483325958252,
                                   :y2 1052.3760986328125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 681.6506519317627,
                                   :y1 1054.8936157226562,
                                   :x2 1180.0324878692627,
                                   :y2 1082.2797546386719,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 681.6506519317627,
                                   :y1 1084.7972717285156,
                                   :x2 971.7774829864502,
                                   :y2 1112.1834106445312,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "s many as 6%–10% of all crashes and 16%–21% of fatal crashes involve driver drowsiness (Owens et al., 2018; Tefft, 2012, 2014)"},
               :properties {:color "yellow"}}
              {:id #uuid "6809ec87-8b71-45ab-a6a0-8f0c7e33dc2b",
               :page 1,
               :position {:bounding {:x1 65.4414291381836,
                                     :y1 633.7962646484375,
                                     :x2 344.2031478881836,
                                     :y2 699.751220703125,
                                     :width 742,
                                     :height 960.235294117647},
                          :rects ({:x1 166.67225646972656,
                                   :y1 633.7962646484375,
                                   :x2 343.6073913574219,
                                   :y2 648.858642578125,
                                   :width 742,
                                   :height 960.235294117647}
                                  {:x1 65.4414291381836,
                                   :y1 650.7913818359375,
                                   :x2 344.2031478881836,
                                   :y2 665.8536987304688,
                                   :width 742,
                                   :height 960.235294117647}
                                  {:x1 65.4414291381836,
                                   :y1 667.6937255859375,
                                   :x2 322.5797653198242,
                                   :y2 682.756103515625,
                                   :width 742,
                                   :height 960.235294117647}
                                  {:x1 65.4414291381836,
                                   :y1 684.6888427734375,
                                   :x2 230.71208953857422,
                                   :y2 699.751220703125,
                                   :width 742,
                                   :height 960.235294117647}),
                          :page 1},
               :content {:text "here is broad agreement across the traffic safety, sleep science, and public health communities that this is an underestimate of the impact of drowsy driving."},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
