{:highlights [{:id #uuid "68021e64-58a2-4bf7-8b41-3e7ff9e905c2",
               :page 1,
               :position {:bounding {:x1 356.8398132324219,
                                     :y1 1189.2995910644531,
                                     :x2 1192.9593811035156,
                                     :y2 1240.7056274414062,
                                     :width 1269.9221333333332,
                                     :height 1796.032},
                          :rects ({:x1 402.1766662597656,
                                   :y1 1189.2995910644531,
                                   :x2 1192.9593811035156,
                                   :y2 1213.9471130371094,
                                   :width 1269.9221333333332,
                                   :height 1796.032}
                                  {:x1 356.8398132324219,
                                   :y1 1216.05810546875,
                                   :x2 494.48590087890625,
                                   :y2 1240.7056274414062,
                                   :width 1269.9221333333332,
                                   :height 1796.032}),
                          :page 1},
               :content {:text "Driving is a crucial aspect of human functioning to keep a high quality of life and independence"},
               :properties {:color "yellow"}}
              {:id #uuid "68021e71-1011-4bbb-973a-4728d97cff72",
               :page 1,
               :position {:bounding {:x1 356.8398132324219,
                                     :y1 1216.05810546875,
                                     :x2 1192.5760498046875,
                                     :y2 1267.4641723632812,
                                     :width 1269.9221333333332,
                                     :height 1796.032},
                          :rects ({:x1 506.45574951171875,
                                   :y1 1216.05810546875,
                                   :x2 1192.5760498046875,
                                   :y2 1240.7056274414062,
                                   :width 1269.9221333333332,
                                   :height 1796.032}
                                  {:x1 356.8398132324219,
                                   :y1 1242.816650390625,
                                   :x2 1039.5010986328125,
                                   :y2 1267.4641723632812,
                                   :width 1269.9221333333332,
                                   :height 1796.032}),
                          :page 1},
               :content {:text "The safety at the wheel is affected by multiple variables, such as visual abilities [1], attention and decision-making [ 2], age [ 3], and drowsiness"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
