{:highlights [{:id #uuid "67f63415-a9fa-408a-be94-c43d81f01c0a",
               :page 2,
               :position {:bounding {:x1 236.9256599508226,
                                     :y1 291.54100036621094,
                                     :x2 671.0952766500413,
                                     :y2 336.0078125,
                                     :width 725,
                                     :height 938.2352941176471},
                          :rects ({:x1 585.5829322896898,
                                   :y1 291.54100036621094,
                                   :x2 668.2308204732835,
                                   :y2 305.23406982421875,
                                   :width 725,
                                   :height 938.2352941176471}
                                  {:x1 236.9256599508226,
                                   :y1 306.9314422607422,
                                   :x2 671.0952766500413,
                                   :y2 320.62449645996094,
                                   :width 725,
                                   :height 938.2352941176471}
                                  {:x1 236.9256599508226,
                                   :y1 322.3147430419922,
                                   :x2 320.21336441859603,
                                   :y2 336.0078125,
                                   :width 725,
                                   :height 938.2352941176471}),
                          :page 2},
               :content {:text "EDS accounts for20% of total MVAs, with lethality rates higher than those reported for MVAs associated with other risk-factors "},
               :properties {:color "yellow"}}
              {:id #uuid "67f63430-543f-4335-b54f-26b7901775f5",
               :page 2,
               :position {:bounding {:x1 319.9969024658203,
                                     :y1 435.8102722167969,
                                     :x2 885.8850402832031,
                                     :y2 474.8497619628906,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 561.9443969726562,
                                   :y1 435.8102722167969,
                                   :x2 885.8850402832031,
                                   :y2 454.06768798828125,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 456.59234619140625,
                                   :x2 745.2288970947266,
                                   :y2 474.8497619628906,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 2},
               :content {:text "Obstructive sleep apnea (OSA) is the main medical cause of EDS and is also associated with an increased risk of MVA"},
               :properties {:color "yellow"}}
              {:id #uuid "67f63444-7a7b-4638-94ee-21d31fa42cd7",
               :page 2,
               :position {:bounding {:x1 319.9969024658203,
                                     :y1 456.59234619140625,
                                     :x2 917.6936798095703,
                                     :y2 516.5422821044922,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 872.6845397949219,
                                   :y1 456.59234619140625,
                                   :x2 917.3936462402344,
                                   :y2 474.8497619628906,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 477.50279235839844,
                                   :x2 917.6936798095703,
                                   :y2 495.7602081298828,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 498.2848663330078,
                                   :x2 730.8214263916016,
                                   :y2 516.5422821044922,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 2},
               :content {:text "professional drivers suffer from other risk factors for OSA. These include obesity, hypertension, dyslipidemia, smoking, drinking, and insufficient physical exercise [7"},
               :properties {:color "yellow"}}
              {:id #uuid "67f63482-9fb6-4969-90a0-e7eba8b8edea",
               :page 2,
               :position {:bounding {:x1 319.9969024658203,
                                     :y1 664.5343475341797,
                                     :x2 913.8437194824219,
                                     :y2 724.4842834472656,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 646.6810302734375,
                                   :y1 664.5343475341797,
                                   :x2 913.8437194824219,
                                   :y2 682.7917633056641,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 685.4447937011719,
                                   :x2 913.8242340087891,
                                   :y2 703.7022094726562,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 706.2268676757812,
                                   :x2 611.0702056884766,
                                   :y2 724.4842834472656,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 2},
               :content {:text " These factors are known to impair driving ability and induce subjective feelings of tiredness, slowed reaction times, lapses of attention to critical details and performance deterioration ["},
               :properties {:color "yellow"}}
              {:id #uuid "67f6349c-96cd-4819-8370-0cb8efde127a",
               :page 2,
               :position {:bounding {:x1 319.9969024658203,
                                     :y1 706.2268600463867,
                                     :x2 906.6662139892578,
                                     :y2 766.1768035888672,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 671.8681945800781,
                                   :y1 706.2268600463867,
                                   :x2 887.7713317871094,
                                   :y2 724.4842758178711,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 727.0089416503906,
                                   :x2 906.6662139892578,
                                   :y2 745.266357421875,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 747.9193878173828,
                                   :x2 388.36207580566406,
                                   :y2 766.1768035888672,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 2},
               :content {:text "s a result, sleep- and EDS-related MVAs are more likely to occur among professional male drivers than in males in the general population"},
               :properties {:color "yellow"}}
              {:id #uuid "67f634be-5d43-4694-b591-eb94e991d6be",
               :page 2,
               :position {:bounding {:x1 319.9969024658203,
                                     :y1 768.5730895996094,
                                     :x2 918.6384429931641,
                                     :y2 828.5230255126953,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 632.7337341308594,
                                   :y1 768.5730895996094,
                                   :x2 915.1937561035156,
                                   :y2 786.8305053710938,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 789.3551635742188,
                                   :x2 918.6384429931641,
                                   :y2 807.6125793457031,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 810.2656097412109,
                                   :x2 390.6979064941406,
                                   :y2 828.5230255126953,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 2},
               :content {:text " more than half of truck accidents cause fatal injuries and/or chronic disabilities and that the truck driver is found at fault in more than 80% of the case"},
               :properties {:color "yellow"}}
              {:id #uuid "67f634e8-24f6-4709-8275-93139bfcc6d7",
               :page 2,
               :position {:bounding {:x1 319.9969024658203,
                                     :y1 934.9580688476562,
                                     :x2 919.8141174316406,
                                     :y2 994.90087890625,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 653.4000244140625,
                                   :y1 934.9580688476562,
                                   :x2 919.8141174316406,
                                   :y2 953.2154846191406,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 955.8613891601562,
                                   :x2 907.7940216064453,
                                   :y2 974.1188049316406,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 976.6434631347656,
                                   :x2 430.76055908203125,
                                   :y2 994.90087890625,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 2},
               :content {:text "two behavioral countermeasures to sleepiness, such as naps [30] and rest breaks [31], that have already proved to be protective factors against accidents"},
               :properties {:color "yellow"}}
              {:id #uuid "67f63efd-0443-41dd-8b66-d35fe843c8a5",
               :page 4,
               :position {:bounding {:x1 643.2519836425781,
                                     :y1 829.0222930908203,
                                     :x2 843.7787780761719,
                                     :y2 847.2797088623047,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 643.2519836425781,
                                   :y1 829.0222930908203,
                                   :x2 843.7787780761719,
                                   :y2 847.2797088623047,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 4},
               :content {:text "All subjects recruited were men"},
               :properties {:color "yellow"}}
              {:id #uuid "67f63f40-1915-4d1b-b785-f221bd529802",
               :page 4,
               :position {:bounding {:x1 319.9969024658203,
                                     :y1 953.8359375,
                                     :x2 901.0144805908203,
                                     :y2 992.87548828125,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 842.9269714355469,
                                   :y1 953.8359375,
                                   :x2 885.4775085449219,
                                   :y2 972.0933837890625,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 974.6180419921875,
                                   :x2 901.0144805908203,
                                   :y2 992.87548828125,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 4},
               :content {:text "uspect OSA, sleep debt and EDS emerged as significant risk factors for both the response variables."},
               :properties {:color "yellow"}}
              {:id #uuid "67f63f60-3725-4e18-9940-1cfb4d83ac8e",
               :page 4,
               :position {:bounding {:x1 319.9969024658203,
                                     :y1 995.400146484375,
                                     :x2 904.0781097412109,
                                     :y2 1034.4396362304688,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 488.7761688232422,
                                   :y1 995.400146484375,
                                   :x2 904.0781097412109,
                                   :y2 1013.6575317382812,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.9969024658203,
                                   :y1 1016.1821899414062,
                                   :x2 804.4124298095703,
                                   :y2 1034.4396362304688,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 4},
               :content {:text "taking naps was a significant protective factor against both MVAs and NMAs, the same result was obtained for a rest break only against NMAs"},
               :properties {:color "yellow"}}
              {:id #uuid "67f63fa0-1582-4495-b248-089ccbeb3ec9",
               :page 4,
               :position {:bounding {:x1 339.18859100341797,
                                     :y1 1037.0926513671875,
                                     :x2 910.236442565918,
                                     :y2 1055.3500671386719,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 339.18859100341797,
                                   :y1 1037.0926513671875,
                                   :x2 910.236442565918,
                                   :y2 1055.3500671386719,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 4},
               :content {:text "Increasing the SD and the severity of EDS, the risk of MVAs and NMAs linearly increased"},
               :properties {:color "yellow"}}
              {:id #uuid "67f64000-04c3-44aa-9cab-f609d3b71f3e",
               :page 8,
               :position {:bounding {:x1 319.99691009521484,
                                     :y1 308.3292803764343,
                                     :x2 919.0766220092773,
                                     :y2 368.2792010307312,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 756.0538024902344,
                                   :y1 308.3292803764343,
                                   :x2 869.4594421386719,
                                   :y2 326.5866961479187,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.99691009521484,
                                   :y1 329.1113543510437,
                                   :x2 919.0766220092773,
                                   :y2 347.3687701225281,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.99691009521484,
                                   :y1 350.0217852592468,
                                   :x2 690.7140731811523,
                                   :y2 368.2792010307312,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 8},
               :content {:text "hese authors also observed that adequate sleep duration (more than 7 hours) was associated with a 40% decrease in the risk of a self-reported accident or near miss accident"},
               :properties {:color "yellow"}}
              {:id #uuid "67f6404d-f858-46c8-af3b-8e43aafd5a56",
               :page 8,
               :position {:bounding {:x1 319.99691009521484,
                                     :y1 828.3875122070312,
                                     :x2 915.2712707519531,
                                     :y2 867.427001953125,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 712.07763671875,
                                   :y1 828.3875122070312,
                                   :x2 915.2712707519531,
                                   :y2 846.6449279785156,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 319.99691009521484,
                                   :y1 849.1695861816406,
                                   :x2 494.4337387084961,
                                   :y2 867.427001953125,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 8},
               :content {:text "we observed that drinking a coffee had no significant effect"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
