{:highlights [{:id #uuid "67dbc86d-acad-493d-bbc1-d58b54fe9871",
               :page 2,
               :position {:bounding {:x1 82.83589935302734,
                                     :y1 315.53951263427734,
                                     :x2 484.38951873779297,
                                     :y2 372.88634490966797,
                                     :width 992.0999999999999,
                                     :height 1403.5266666666664},
                          :rects ({:x1 471.8038864135742,
                                   :y1 315.53951263427734,
                                   :x2 484.35314178466797,
                                   :y2 332.8840866088867,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}
                                  {:x1 82.83589935302734,
                                   :y1 335.61556243896484,
                                   :x2 484.38951873779297,
                                   :y2 352.9601058959961,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}
                                  {:x1 82.83589935302734,
                                   :y1 355.5418014526367,
                                   :x2 339.6445541381836,
                                   :y2 372.88634490966797,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}),
                          :page 2},
               :content {:text "In a 2016 survey, 88% of critical care providers believed poor sleep could aﬀect critically ill patients’ recovery"},
               :properties {:color "yellow"}}
              {:id #uuid "67dbc912-2778-4c19-93a9-b5f63df44ca6",
               :page 2,
               :position {:bounding {:x1 507.74877166748047,
                                     :y1 1216.0438537597656,
                                     :x2 909.301872253418,
                                     :y2 1273.3906860351562,
                                     :width 992.0999999999999,
                                     :height 1403.5266666666664},
                          :rects ({:x1 874.940299987793,
                                   :y1 1216.0438537597656,
                                   :x2 909.2664108276367,
                                   :y2 1233.3883972167969,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}
                                  {:x1 507.74877166748047,
                                   :y1 1235.9772338867188,
                                   :x2 909.301872253418,
                                   :y2 1253.32177734375,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}
                                  {:x1 507.74877166748047,
                                   :y1 1256.046142578125,
                                   :x2 643.3908615112305,
                                   :y2 1273.3906860351562,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}),
                          :page 2},
               :content {:text "Study staﬀ also applied wrist-worn actigraphs to collect objective sleep data on participants,"},
               :properties {:color "yellow"}}
              {:id #uuid "67dbcac6-b9a5-4a8f-908f-18bd0e046e25",
               :page 6,
               :position {:bounding {:x1 507.74877166748047,
                                     :y1 599.1927490234375,
                                     :x2 909.321159362793,
                                     :y2 716.61083984375,
                                     :width 992.0999999999999,
                                     :height 1403.5266666666664},
                          :rects ({:x1 530.9699020385742,
                                   :y1 599.1927490234375,
                                   :x2 909.286735534668,
                                   :y2 616.5372924804688,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}
                                  {:x1 507.74877166748047,
                                   :y1 619.1261596679688,
                                   :x2 909.3014450073242,
                                   :y2 636.470703125,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}
                                  {:x1 507.74877166748047,
                                   :y1 639.1950073242188,
                                   :x2 909.303092956543,
                                   :y2 656.53955078125,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}
                                  {:x1 507.74877166748047,
                                   :y1 659.263916015625,
                                   :x2 909.321159362793,
                                   :y2 676.6084594726562,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}
                                  {:x1 507.74877166748047,
                                   :y1 679.1973266601562,
                                   :x2 909.321159362793,
                                   :y2 696.5418701171875,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}
                                  {:x1 507.74877166748047,
                                   :y1 699.2662353515625,
                                   :x2 767.5797653198242,
                                   :y2 716.61083984375,
                                   :width 992.0999999999999,
                                   :height 1403.5266666666664}),
                          :page 6},
               :content {:text "Although the mean values were similar for subjectively measured sleep pertaining to the period just prior to admission and the objectively measured sleep during hospitalization, the correlation between the two was low (total sleep time r = 0.27, paired-test p = 0.11; sleep eﬃciency r = 0.06, paired-test p = 0.04; sleep latency r = 0.07, paired-test p <0.01)."},
               :properties {:color "green"}}],
 :extra {:page 11}}
