{:highlights [{:id #uuid "67da97f5-7764-4994-a0e4-bc1d02b710f3",
               :page 2,
               :position {:bounding {:x1 332.7557067871094,
                                     :y1 485.1195526123047,
                                     :x2 1121.0350341796875,
                                     :y2 533.4874420166016,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 1063.9500732421875,
                                   :y1 485.1195526123047,
                                   :x2 1121.0350341796875,
                                   :y2 508.3977508544922,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 510.20924377441406,
                                   :x2 1115.4219665527344,
                                   :y2 533.4874420166016,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 2},
               :content {:text "nCSP, encompassing chronic low back pain, chronic neck pain, and failed back surgery syndrome"},
               :properties {:color "yellow"}}
              {:id #uuid "67da9808-a2de-4c95-9ad5-4ad617ef4108",
               :page 2,
               :position {:bounding {:x1 332.7557067871094,
                                     :y1 560.3814849853516,
                                     :x2 1121.8266296386719,
                                     :y2 709.2721710205078,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 657.410888671875,
                                   :y1 560.3814849853516,
                                   :x2 1118.474853515625,
                                   :y2 583.6596832275391,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 585.4711761474609,
                                   :x2 1120.8343200683594,
                                   :y2 608.7493743896484,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 610.5608673095703,
                                   :x2 1118.3511657714844,
                                   :y2 633.8390655517578,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 635.8145599365234,
                                   :x2 1121.8266296386719,
                                   :y2 659.0927886962891,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 660.9042510986328,
                                   :x2 1118.3326110839844,
                                   :y2 684.1824493408203,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 685.9939117431641,
                                   :x2 570.1661987304688,
                                   :y2 709.2721710205078,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 2},
               :content {:text "Insomnia, on the other hand, is the most common sleep disorder which manifests as a subjective complaint in initiating, maintaining sleep, and/or waking up sooner than desired. In addition, at least one daytime impairment must be present (e.g., concentration difficulties, mood swings, malaise, sleepiness, or fatigue). Insomnia becomes chronic when it persists for at least three months and occurs at least three nights a week [ 1, 5– 7]"},
               :properties {:color "yellow"}}
              {:id #uuid "67da982b-4d26-4e2a-bc63-3c96d6f8367d",
               :page 2,
               :position {:bounding {:x1 332.7557067871094,
                                     :y1 761.255859375,
                                     :x2 1122.0506591796875,
                                     :y2 809.6237487792969,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 375.2541198730469,
                                   :y1 761.255859375,
                                   :x2 1121.0904541015625,
                                   :y2 784.5340576171875,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 786.3455505371094,
                                   :x2 1122.0506591796875,
                                   :y2 809.6237487792969,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 2},
               :content {:text "Although a reciprocal relationship between pain and sleep seems well accepted [8– 11 ], multiple studies consider disturbed sleep a better predictor of pain than vice versa [ 2,8 –12 ]."},
               :properties {:color "yellow"}}
              {:id #uuid "67da9849-1514-4f20-98e4-0d3cbb0aaa98",
               :page 2,
               :position {:bounding {:x1 415.65447998046875,
                                     :y1 836.5249328613281,
                                     :x2 936.1043090820312,
                                     :y2 859.8031311035156,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 415.65447998046875,
                                   :y1 836.5249328613281,
                                   :x2 936.1043090820312,
                                   :y2 859.8031311035156,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 2},
               :content {:text "lterations in pain processing and hyperalgesic responses"},
               :properties {:color "yellow"}}
              {:id #uuid "67da9863-b0c0-46ee-b474-b5352002ae9c",
               :page 2,
               :position {:bounding {:x1 332.7557067871094,
                                     :y1 836.5249328613281,
                                     :x2 1120.8337097167969,
                                     :y2 910.1465454101562,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 990.9944458007812,
                                   :y1 836.5249328613281,
                                   :x2 1118.5269775390625,
                                   :y2 859.8031311035156,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 861.7786254882812,
                                   :x2 1120.8337097167969,
                                   :y2 885.0568542480469,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 886.8683166503906,
                                   :x2 1079.6360778808594,
                                   :y2 910.1465454101562,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 2},
               :content {:text "However, the complexity of the relationship between pain and sleep leaves many remaining questions, such as the potential underlying factors of the direction and strength of the association"},
               :properties {:color "yellow"}}
              {:id #uuid "67da9880-b67c-442b-814f-fbd5a868a3ad",
               :page 2,
               :position {:bounding {:x1 332.7557067871094,
                                     :y1 1087.5715637207031,
                                     :x2 1118.341552734375,
                                     :y2 1136.110595703125,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 499.36456298828125,
                                   :y1 1087.5715637207031,
                                   :x2 1118.341552734375,
                                   :y2 1110.8497619628906,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 1112.8323974609375,
                                   :x2 471.1835021972656,
                                   :y2 1136.110595703125,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 2},
               :content {:text "However, improvements in anxiety and depression do not often predict changes in pain "},
               :properties {:color "yellow"}}
              {:id #uuid "67da9a56-9be8-4165-83d4-c42e28129146",
               :page 6,
               :position {:bounding {:x1 331.800048828125,
                                     :y1 684.4748687744141,
                                     :x2 1117.6512451171875,
                                     :y2 733.3491363525391,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 690.5814819335938,
                                   :y1 684.4748687744141,
                                   :x2 1117.6512451171875,
                                   :y2 707.7530670166016,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 331.800048828125,
                                   :y1 710.0709381103516,
                                   :x2 572.911865234375,
                                   :y2 733.3491363525391,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 6},
               :content {:text " clusters: sleep, pain, fatigue, and anxiety and depression symptoms. Th"},
               :properties {:color "green"}}
              {:id #uuid "67da9a63-60d4-4564-97f9-7fcf55886c5d",
               :page 7,
               :position {:bounding {:x1 331.9212646484375,
                                     :y1 502.96332931518555,
                                     :x2 1121.582763671875,
                                     :y2 551.3312492370605,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 910.973876953125,
                                   :y1 502.96332931518555,
                                   :x2 1121.582763671875,
                                   :y2 526.241527557373,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 331.9212646484375,
                                   :y1 528.0529899597168,
                                   :x2 968.6333618164062,
                                   :y2 551.3312492370605,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 7},
               :content {:text "The node “Bodily pain” was the most determined by all other nodes with 46% variance explained "},
               :properties {:color "green"}}
              {:id #uuid "67da9a73-e1f4-4bf2-b2c8-f513901a75f1",
               :page 7,
               :position {:bounding {:x1 332.7557067871094,
                                     :y1 654.1718444824219,
                                     :x2 1117.9677734375,
                                     :y2 702.5397338867188,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 1006.1492919921875,
                                   :y1 654.1718444824219,
                                   :x2 1117.9677734375,
                                   :y2 677.4500427246094,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.7557067871094,
                                   :y1 679.2615051269531,
                                   :x2 801.251953125,
                                   :y2 702.5397338867188,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 7},
               :content {:text "he strongest edges appeared between nodes of the same cluster"},
               :properties {:color "green"}}
              {:id #uuid "67da9b47-f333-49d3-88f2-878819f33167",
               :page 8,
               :position {:bounding {:x1 329.77459716796875,
                                     :y1 926.4355773925781,
                                     :x2 1118.337646484375,
                                     :y2 974.803466796875,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 469.7239990234375,
                                   :y1 926.4355773925781,
                                   :x2 1118.337646484375,
                                   :y2 949.7137756347656,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 329.77459716796875,
                                   :y1 951.5252685546875,
                                   :x2 706.5640869140625,
                                   :y2 974.803466796875,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 8},
               :content {:text "the DAG revealed a chain of constructs dependent on the parent nodes“Expectational anhedonia” and “Tension”"},
               :properties {:color "green"}}
              {:id #uuid "67da9b52-89f0-41b1-82e6-be344e425392",
               :page 8,
               :position {:bounding {:x1 329.77459716796875,
                                     :y1 976.6149597167969,
                                     :x2 1118.4832763671875,
                                     :y2 1075.1550598144531,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 703.017578125,
                                   :y1 976.6149597167969,
                                   :x2 1118.4832763671875,
                                   :y2 999.8931579589844,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 329.77459716796875,
                                   :y1 1001.7046508789062,
                                   :x2 1118.3385009765625,
                                   :y2 1024.9828186035156,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 329.77459716796875,
                                   :y1 1026.7872009277344,
                                   :x2 1118.015380859375,
                                   :y2 1050.0653991699219,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.1566162109375,
                                   :y1 1051.8768615722656,
                                   :x2 643.32421875,
                                   :y2 1075.1550598144531,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 8},
               :content {:text "While “Tension” appeared to equally predict“Difficulties initiating sleep” and vice versa, it did show a probability of direction to“Worry” greater than 0.5. Therefore, the occurrence of worry is more likely dependent on the presence of tension than vice versa"},
               :properties {:color "green"}}
              {:id #uuid "67da9ba8-92fc-43b4-ac6c-66811acb5b42",
               :page 9,
               :position {:bounding {:x1 332.15662002563477,
                                     :y1 1260.4964294433594,
                                     :x2 1118.3271217346191,
                                     :y2 1309.0354614257812,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 375.25412368774414,
                                   :y1 1260.4964294433594,
                                   :x2 1118.3271217346191,
                                   :y2 1283.7746276855469,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.15662002563477,
                                   :y1 1285.7572631835938,
                                   :x2 598.1370277404785,
                                   :y2 1309.0354614257812,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 9},
               :content {:text "Previous research showed that sleep quality reduces pain thresholds, and perpetuates pain symptoms and vice versa"},
               :properties {:color "green"}}
              {:id #uuid "67da9e9a-aded-4c72-8909-26309539451b",
               :page 10,
               :position {:bounding {:x1 332.75571060180664,
                                     :y1 326.5082473754883,
                                     :x2 1121.6349830627441,
                                     :y2 374.87613677978516,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 375.25412368774414,
                                   :y1 326.5082473754883,
                                   :x2 1121.6349830627441,
                                   :y2 349.7864456176758,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.75571060180664,
                                   :y1 351.59793853759766,
                                   :x2 597.5341835021973,
                                   :y2 374.87613677978516,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 10},
               :content {:text "Symptoms of anxiety and depression are suggested to partially mediate the relationship between pain and sleep"},
               :properties {:color "green"}}
              {:id #uuid "67da9ec7-9e9f-48fd-9755-9a7372cc70c1",
               :page 10,
               :position {:bounding {:x1 332.15662002563477,
                                     :y1 502.2929458618164,
                                     :x2 1118.3359107971191,
                                     :y2 575.7505264282227,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 846.3674354553223,
                                   :y1 502.2929458618164,
                                   :x2 1118.3330726623535,
                                   :y2 525.5711441040039,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.75571060180664,
                                   :y1 527.3826370239258,
                                   :x2 1118.3359107971191,
                                   :y2 550.6608352661133,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.15662002563477,
                                   :y1 552.472297668457,
                                   :x2 780.013614654541,
                                   :y2 575.7505264282227,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 10},
               :content {:text "insomnia symptoms might be the consequence of the variables of the anxiety and depression cluster in the sleep and pain network, while pain symptoms might not be"},
               :properties {:color "green"}}
              {:id #uuid "67da9ef1-edce-4812-8cf4-6dac4fa475b7",
               :page 10,
               :position {:bounding {:x1 332.75571060180664,
                                     :y1 803.5189666748047,
                                     :x2 1121.6442604064941,
                                     :y2 877.1405487060547,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 550.8450965881348,
                                   :y1 803.5189666748047,
                                   :x2 1118.3892250061035,
                                   :y2 826.7971649169922,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.75571060180664,
                                   :y1 828.6086273193359,
                                   :x2 1121.6442604064941,
                                   :y2 851.8868255615234,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.75571060180664,
                                   :y1 853.8623504638672,
                                   :x2 878.3320045471191,
                                   :y2 877.1405487060547,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 10},
               :content {:text "Besides feeling slowed down, fatigue also appeared as a terminal node, as the presence of fatigue more likely implies the presence of pain interference instead of interference in daytime functioning due to insomnia"},
               :properties {:color "green"}}
              {:id #uuid "67da9f4d-de03-4124-a815-b6b35dac4676",
               :page 10,
               :position {:bounding {:x1 332.15662002563477,
                                     :y1 1431.2318115234375,
                                     :x2 1118.346134185791,
                                     :y2 1504.6893310546875,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 375.25412368774414,
                                   :y1 1431.2318115234375,
                                   :x2 1118.3234596252441,
                                   :y2 1454.510009765625,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.15662002563477,
                                   :y1 1456.3214721679688,
                                   :x2 1118.346134185791,
                                   :y2 1479.5996704101562,
                                   :width 1190.552,
                                   :height 1683.78}
                                  {:x1 332.2778663635254,
                                   :y1 1481.4111328125,
                                   :x2 420.2153968811035,
                                   :y2 1504.6893310546875,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 10},
               :content {:text "Previous research showed a reciprocal relation between sleep disturbance and chronic pain, where sleep quality reduces pain thresholds, and perpetuates pain symptoms and vice versa"},
               :properties {:color "green"}}
              {:id #uuid "67daa0bc-5a98-43ae-95d6-f59d9485ce70",
               :page 11,
               :position {:bounding {:x1 554.0474891662598,
                                     :y1 175.97726440429688,
                                     :x2 785.5425453186035,
                                     :y2 199.2554931640625,
                                     :width 1190.552,
                                     :height 1683.78},
                          :rects ({:x1 554.0474891662598,
                                   :y1 175.97726440429688,
                                   :x2 785.5425453186035,
                                   :y2 199.2554931640625,
                                   :width 1190.552,
                                   :height 1683.78}),
                          :page 11},
               :content {:text "yper analgesic responses"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
