{:highlights [{:id #uuid "67bed64a-3fa6-4a8b-9c49-83baad7fb38b",
               :page 1,
               :position {:bounding {:x1 105.99286270141602,
                                     :y1 550.2186889648438,
                                     :x2 1026.9759559631348,
                                     :y2 589.3294677734375,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 181.05646133422852,
                                   :y1 550.2186889648438,
                                   :x2 1026.9759559631348,
                                   :y2 568.9324951171875,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 105.99286270141602,
                                   :y1 570.6156005859375,
                                   :x2 618.909610748291,
                                   :y2 589.3294677734375,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 1},
               :content {:text "sleep problems appeared 638 and 439 times among the most important characteristics in 1000 cross-validation runs where patients were assigned to the 2 extreme pain phenotype clusters"},
               :properties {:color "yellow"}}
              {:id #uuid "67bed6f3-f6c0-460f-ac58-16cd80f1304f",
               :page 5,
               :position {:bounding {:x1 580.2007637023926,
                                     :y1 528.7804565429688,
                                     :x2 1037.8357124328613,
                                     :y2 609.1416320800781,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 974.8419990539551,
                                   :y1 528.7804565429688,
                                   :x2 1037.5125923156738,
                                   :y2 547.4943084716797,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 580.2007637023926,
                                   :y1 549.1845550537109,
                                   :x2 1037.7005805969238,
                                   :y2 567.8984069824219,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 580.2007637023926,
                                   :y1 569.8810424804688,
                                   :x2 1037.8357124328613,
                                   :y2 588.5949096679688,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 580.2007637023926,
                                   :y1 590.4277648925781,
                                   :x2 1033.3255805969238,
                                   :y2 609.1416320800781,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 5},
               :content {:text ". The first step focused on the pain phenotype and included (1) the unsupervised evaluation of a pain phenotype cluster structure emerging in the d 5 5 pain-related parameters described above"},
               :properties {:color "yellow"}}
              {:id #uuid "67bed702-1201-4fb9-b491-250f95f0e856",
               :page 5,
               :position {:bounding {:x1 580.2007446289062,
                                     :y1 611.124267578125,
                                     :x2 1037.8599548339844,
                                     :y2 671.0884704589844,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 580.2007446289062,
                                   :y1 611.124267578125,
                                   :x2 1037.8599548339844,
                                   :y2 629.8381042480469,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 580.2007446289062,
                                   :y1 631.6781311035156,
                                   :x2 1037.8330993652344,
                                   :y2 650.3919677734375,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 580.2007446289062,
                                   :y1 652.3746337890625,
                                   :x2 665.033447265625,
                                   :y2 671.0884704589844,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 5},
               :content {:text "Following the identification of the pain-related clusters in the highdimensional data set, (2) an interpretation of the cluster structure was sought"},
               :properties {:color "yellow"}}
              {:id #uuid "67bed70b-357a-46c7-84da-182bd4957116",
               :page 5,
               :position {:bounding {:x1 580.2007446289062,
                                     :y1 652.3746337890625,
                                     :x2 1037.5660095214844,
                                     :y2 712.3316955566406,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 756.0664978027344,
                                   :y1 652.3746337890625,
                                   :x2 1037.5660095214844,
                                   :y2 671.0884704589844,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 580.2007446289062,
                                   :y1 673.0711059570312,
                                   :x2 1037.5449523925781,
                                   :y2 691.7849731445312,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 580.2007446289062,
                                   :y1 693.6178283691406,
                                   :x2 668.91064453125,
                                   :y2 712.3316955566406,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 5},
               :content {:text "supervised algorithms were applied to allow a correct summary interpretation of the pain-related phenotypes"},
               :properties {:color "yellow"}}
              {:id #uuid "67bed993-e3a2-4927-bb79-b8fbada61c89",
               :page 12,
               :position {:bounding {:x1 556.4732246398926,
                                     :y1 1009.1074523925781,
                                     :x2 1017.8923530578613,
                                     :y2 1109.5802917480469,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 984.4527778625488,
                                   :y1 1009.1074523925781,
                                   :x2 1013.9105415344238,
                                   :y2 1027.8213195800781,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 556.4732246398926,
                                   :y1 1029.5115661621094,
                                   :x2 1014.1847114562988,
                                   :y2 1048.2253723144531,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 556.4732246398926,
                                   :y1 1049.9156188964844,
                                   :x2 1014.1375923156738,
                                   :y2 1068.6294860839844,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 556.4732246398926,
                                   :y1 1070.4623718261719,
                                   :x2 1017.8923530578613,
                                   :y2 1089.1761779785156,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 804.5031318664551,
                                   :y1 1087.9067687988281,
                                   :x2 811.4416694641113,
                                   :y2 1101.1434020996094,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 556.4732246398926,
                                   :y1 1090.8664245605469,
                                   :x2 809.0461006164551,
                                   :y2 1109.5802917480469,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 12},
               :content {:text "This research may gain new momentum from discoveries such as the glymphatic system and its function in the clearance of cellular waste products from the brain, 72 with sleep possibly being an important facilitator in the process. 1"},
               :properties {:color "yellow"}}
              {:id #uuid "67bed9a2-4a06-4838-97eb-7c361dec13f4",
               :page 13,
               :position {:bounding {:x1 580.2007637023926,
                                     :y1 282.4764709472656,
                                     :x2 1041.6904487609863,
                                     :y2 321.5943908691406,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 730.7105293273926,
                                   :y1 282.4764709472656,
                                   :x2 1041.6904487609863,
                                   :y2 301.1903381347656,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 580.2007637023926,
                                   :y1 302.8805847167969,
                                   :x2 760.2415962219238,
                                   :y2 321.5943908691406,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 13},
               :content {:text "Sleep problems thus warrant priority in the treatment of chronic pain"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
