{:highlights [{:id #uuid "67ee8fb4-308d-484d-a467-fd265a7829ca",
               :page 1,
               :position {:bounding {:x1 129.94146347045898,
                                     :y1 1152.1856689453125,
                                     :x2 514.7951011657715,
                                     :y2 1209.9746704101562,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 267.9687805175781,
                                   :y1 1152.1856689453125,
                                   :x2 514.474853515625,
                                   :y2 1171.8124084472656,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 129.94146347045898,
                                   :y1 1171.2703857421875,
                                   :x2 514.7951011657715,
                                   :y2 1190.8970947265625,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 129.94146347045898,
                                   :y1 1190.3479614257812,
                                   :x2 377.55480575561523,
                                   :y2 1209.9746704101562,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "The associated cerebral dysfunction may be manifested as abnormal daytime drowsiness and lack of concentration"},
               :properties {:color "yellow"}}
              {:id #uuid "67ee8fec-1f3d-4240-bfe7-6c565639f587",
               :page 1,
               :position {:bounding {:x1 129.94146347045898,
                                     :y1 1190.3479614257812,
                                     :x2 514.7985496520996,
                                     :y2 1248.136962890625,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 387.54327392578125,
                                   :y1 1190.3479614257812,
                                   :x2 514.7192077636719,
                                   :y2 1209.9746704101562,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 129.94146347045898,
                                   :y1 1209.4326782226562,
                                   :x2 514.7985496520996,
                                   :y2 1229.0593872070312,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 129.94146347045898,
                                   :y1 1228.51025390625,
                                   :x2 197.16604232788086,
                                   :y2 1248.136962890625,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "Drowsiness and lack of concentration are frequent causes of traffic accidents"},
               :properties {:color "yellow"}}
              {:id #uuid "67ee9011-22d2-49ba-a6ad-252cf8d138ab",
               :page 1,
               :position {:bounding {:x1 168.98095703125,
                                     :y1 1018.7496337890625,
                                     :x2 514.802734375,
                                     :y2 1076.5386352539062,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 187.29269409179688,
                                   :y1 1018.7496337890625,
                                   :x2 514.802734375,
                                   :y2 1038.3763732910156,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 168.98095703125,
                                   :y1 1037.8343505859375,
                                   :x2 514.774169921875,
                                   :y2 1057.4610595703125,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 168.98095703125,
                                   :y1 1056.9119262695312,
                                   :x2 277.8500061035156,
                                   :y2 1076.5386352539062,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "Spain, the annual cost of traffic accidents is equivalent to 1 to 2 percent of the gross national product"},
               :properties {:color "yellow"}}
              {:id #uuid "67ee9030-0ba3-4c68-abd9-4eb2bc096a3f",
               :page 1,
               :position {:bounding {:x1 545.989501953125,
                                     :y1 336.4713668823242,
                                     :x2 930.8771057128906,
                                     :y2 413.20957946777344,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 762.5081481933594,
                                   :y1 336.4713668823242,
                                   :x2 930.5715026855469,
                                   :y2 356.0980911254883,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 355.5560760498047,
                                   :x2 930.8769226074219,
                                   :y2 375.18280029296875,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 374.63365173339844,
                                   :x2 930.8771057128906,
                                   :y2 394.2603759765625,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 393.5828552246094,
                                   :x2 616.9474182128906,
                                   :y2 413.20957946777344,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 616.9580688476562,
                                   :y1 395.13758850097656,
                                   :x2 622.1571655273438,
                                   :y2 407.0049133300781,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "he commission found that drowsiness may be involved in 36 percent of all fatal traffic accidents and in 42 to 54 percent of all accidents.5"},
               :properties {:color "yellow"}}
              {:id #uuid "67ee9053-f577-4e13-acc4-35fbda1d992c",
               :page 1,
               :position {:bounding {:x1 545.989501953125,
                                     :y1 412.6604232788086,
                                     :x2 930.9452209472656,
                                     :y2 508.61883544921875,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 563.2841186523438,
                                   :y1 412.6604232788086,
                                   :x2 930.8725280761719,
                                   :y2 432.2871398925781,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 431.74513244628906,
                                   :x2 930.9452209472656,
                                   :y2 451.3718566894531,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 450.8227081298828,
                                   :x2 930.9335021972656,
                                   :y2 470.4494323730469,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 469.90740966796875,
                                   :x2 930.9266052246094,
                                   :y2 489.5341339111328,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 488.9921112060547,
                                   :x2 739.5732116699219,
                                   :y2 508.61883544921875,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "Earlier studies of the effect of sleep apnea syndrome on driving ability, in which 30-to-90-minute tests in driving simulators were used, showed reductions in concentration, increased reaction times, and recurrent periods of sleep"},
               :properties {:color "yellow"}}
              {:id #uuid "67ee9094-57c1-4abf-98c6-b315c7eb72ce",
               :page 1,
               :position {:bounding {:x1 545.989501953125,
                                     :y1 488.9921112060547,
                                     :x2 930.9408264160156,
                                     :y2 584.8078918457031,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 766.2124633789062,
                                   :y1 488.9921112060547,
                                   :x2 930.8285217285156,
                                   :y2 508.61883544921875,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 508.06968688964844,
                                   :x2 930.9408264160156,
                                   :y2 527.6964111328125,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 527.1544036865234,
                                   :x2 930.9097595214844,
                                   :y2 546.7811279296875,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 546.0964660644531,
                                   :x2 930.8859558105469,
                                   :y2 565.7232055664062,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 545.989501953125,
                                   :y1 565.1811828613281,
                                   :x2 684.3139343261719,
                                   :y2 584.8078918457031,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "Retrospective analyses found that people with sleep apnea had rates of traffic accidents that were two to three times as high as those among people without sleep apnea or in the general population"},
               :properties {:color "yellow"}}
              {:id #uuid "67ee9161-7a93-43b9-8123-c5f3cb7e93ec",
               :page 2,
               :position {:bounding {:x1 171.75936889648438,
                                     :y1 432.8291778564453,
                                     :x2 531.3739013671875,
                                     :y2 450.17372131347656,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 171.75936889648438,
                                   :y1 432.8291778564453,
                                   :x2 531.3739013671875,
                                   :y2 450.17372131347656,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 2},
               :content {:text "drowsiness as measured by the Epworth Sleepiness Scale"},
               :properties {:color "red"}}
              {:id #uuid "67ee923c-17c6-4db6-a2b4-7c664a70ff8c",
               :page 2,
               :position {:bounding {:x1 587.9887084960938,
                                     :y1 529.9643478393555,
                                     :x2 1002.2160339355469,
                                     :y2 564.0115585327148,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 753.0320129394531,
                                   :y1 529.9643478393555,
                                   :x2 1002.2160339355469,
                                   :y2 547.3088912963867,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9887084960938,
                                   :y1 546.6670150756836,
                                   :x2 655.1705017089844,
                                   :y2 564.0115585327148,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 2},
               :content {:text " use or nonuse of medications causing drowsiness"},
               :properties {:color "red"}}
              {:id #uuid "67ee92de-c258-469d-ae25-a77b5d39d64d",
               :page 2,
               :position {:bounding {:x1 587.9887084960938,
                                     :y1 1158.1193237304688,
                                     :x2 1002.5476379394531,
                                     :y2 1282.169921875,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 606.6098327636719,
                                   :y1 1158.1193237304688,
                                   :x2 1002.4919128417969,
                                   :y2 1179.5718078613281,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9887084960938,
                                   :y1 1178.6660461425781,
                                   :x2 1002.5417175292969,
                                   :y2 1200.1185302734375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9887084960938,
                                   :y1 1199.2199096679688,
                                   :x2 1002.5279235839844,
                                   :y2 1220.6723937988281,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9887084960938,
                                   :y1 1219.6168823242188,
                                   :x2 1002.5005187988281,
                                   :y2 1241.0693359375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9887084960938,
                                   :y1 1240.1707458496094,
                                   :x2 1002.5476379394531,
                                   :y2 1261.6231994628906,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9887084960938,
                                   :y1 1260.7174682617188,
                                   :x2 692.88671875,
                                   :y2 1282.169921875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 2},
               :content {:text "The initial comparisons of case patients and controls in terms of different variables (e.g., age, sex, and body-mass index) showed no significant differences, except in the number of kilometers driven per year, which was higher for case patients than for controls (Table 1"},
               :properties {:color "yellow"}}
              {:id #uuid "67ee9d29-146f-4cb8-99fe-655e23c23285",
               :page 4,
               :position {:bounding {:x1 139.94025039672852,
                                     :y1 665.2190246582031,
                                     :x2 554.5071029663086,
                                     :y2 748.3259429931641,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 158.67549896240234,
                                   :y1 665.2190246582031,
                                   :x2 554.5071029663086,
                                   :y2 686.6714935302734,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 139.94025039672852,
                                   :y1 685.7728881835938,
                                   :x2 554.4695777893066,
                                   :y2 707.2253570556641,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 139.94025039672852,
                                   :y1 706.3196105957031,
                                   :x2 554.4435768127441,
                                   :y2 727.7720794677734,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 139.94025039672852,
                                   :y1 726.8734741210938,
                                   :x2 199.54847717285156,
                                   :y2 748.3259429931641,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "We found a strong association between sleep apnea, as measured by the apnea–hypopnea index, and traffic accidents in both unadjusted and adjusted analyse"},
               :properties {:color "green"}}
              {:id #uuid "67ee9d54-5868-4798-aaf9-3ebbfbf76e62",
               :page 4,
               :position {:bounding {:x1 139.94025039672852,
                                     :y1 726.8734588623047,
                                     :x2 554.4939422607422,
                                     :y2 809.9732360839844,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 212.2403106689453,
                                   :y1 726.8734588623047,
                                   :x2 554.4939422607422,
                                   :y2 748.325927734375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 139.94025039672852,
                                   :y1 747.4201812744141,
                                   :x2 554.4932594299316,
                                   :y2 768.8726501464844,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 139.94025039672852,
                                   :y1 767.9740447998047,
                                   :x2 554.4410133361816,
                                   :y2 789.426513671875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 139.94025039672852,
                                   :y1 788.5207672119141,
                                   :x2 185.8623275756836,
                                   :y2 809.9732360839844,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text " Patients with sleep apnea, as confirmed by polysomnography, had a greater probability of having a traffic accident than patients without sleep apnea"},
               :properties {:color "green"}}
              {:id #uuid "67ee9d80-778d-4efa-a056-e908f2b13cac",
               :page 4,
               :position {:bounding {:x1 139.94025039672852,
                                     :y1 932.2194976806641,
                                     :x2 554.4971656799316,
                                     :y2 1015.3192749023438,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 271.660400390625,
                                   :y1 932.2194976806641,
                                   :x2 554.4921875,
                                   :y2 953.6719665527344,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 139.94025039672852,
                                   :y1 952.7733612060547,
                                   :x2 554.4472389221191,
                                   :y2 974.225830078125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 139.94025039672852,
                                   :y1 973.320068359375,
                                   :x2 554.4971656799316,
                                   :y2 994.7725524902344,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 139.94025039672852,
                                   :y1 993.8668212890625,
                                   :x2 442.610050201416,
                                   :y2 1015.3192749023438,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "onsumption of alcohol on the day of the accident (even small quantities) had an important modifying effect, amplifying the relation between sleep apnea and traffic accident"},
               :properties {:color "green"}}
              {:id #uuid "67ee9dbc-8999-4526-9998-ac17d7cbd68e",
               :page 4,
               :position {:bounding {:x1 776.9500122070312,
                                     :y1 172.4755401611328,
                                     :x2 960.8809814453125,
                                     :y2 193.92800903320312,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 776.9500122070312,
                                   :y1 172.4755401611328,
                                   :x2 960.8809814453125,
                                   :y2 193.92800903320312,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "ossibility of recall bias"},
               :properties {:color "purple"}}
              {:id #uuid "67ee9e31-3b18-49ef-9ee5-4a5cf30ee145",
               :page 4,
               :position {:bounding {:x1 587.9886932373047,
                                     :y1 336.72098541259766,
                                     :x2 1002.5337982177734,
                                     :y2 399.27404022216797,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 681.7972717285156,
                                   :y1 336.72098541259766,
                                   :x2 1002.529052734375,
                                   :y2 358.17345428466797,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9886932373047,
                                   :y1 357.2748489379883,
                                   :x2 1002.5337982177734,
                                   :y2 378.72730255126953,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9886932373047,
                                   :y1 377.82157135009766,
                                   :x2 904.2388153076172,
                                   :y2 399.27404022216797,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "Drivers with an apnea–hypopnea index above 15 were significantly more likely to have multiple accidents in a period of five years"},
               :properties {:color "yellow"}}
              {:id #uuid "67ee9e73-78dd-4a20-a164-234b849e444d",
               :page 4,
               :position {:bounding {:x1 587.9886932373047,
                                     :y1 665.218994140625,
                                     :x2 1002.5371704101562,
                                     :y2 727.7720336914062,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 800.673583984375,
                                   :y1 665.218994140625,
                                   :x2 1002.5371704101562,
                                   :y2 686.6714630126953,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9886932373047,
                                   :y1 685.7728576660156,
                                   :x2 1002.4427337646484,
                                   :y2 707.2253112792969,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9886932373047,
                                   :y1 706.319580078125,
                                   :x2 821.7643127441406,
                                   :y2 727.7720336914062,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "Epworth scale is derived may lack adequate sensitivity and specificity with regard to driving performance."},
               :properties {:color "yellow"}}
              {:id #uuid "67ee9eb2-702c-45fd-b9d5-9883dd9e05ae",
               :page 4,
               :position {:bounding {:x1 587.9886932373047,
                                     :y1 1014.420654296875,
                                     :x2 1002.440673828125,
                                     :y2 1056.2700805664062,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 737.290771484375,
                                   :y1 1014.420654296875,
                                   :x2 1002.440673828125,
                                   :y2 1035.8731384277344,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 587.9886932373047,
                                   :y1 1034.817626953125,
                                   :x2 623.151611328125,
                                   :y2 1056.2700805664062,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "type and seriousness of the accident"},
               :properties {:color "purple"}}],
 :extra {:page 4}}
