{:highlights [{:id #uuid "68021a89-3373-474e-9763-5221b8c00f64",
               :page 2,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 305.6762390136719,
                                     :x2 1087.7464771270752,
                                     :y2 355.83421325683594,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 319.99690437316895,
                                   :y1 305.6762390136719,
                                   :x2 1087.7464771270752,
                                   :y2 330.3237533569336,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 331.1866989135742,
                                   :x2 815.9814624786377,
                                   :y2 355.83421325683594,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "In 2008, there were more than 21 million licensed drivers aged ≥70 in the United States, a number that will continue to rise with an aging population"},
               :properties {:color "yellow"}}
              {:id #uuid "68021a94-0d37-4928-88a4-00e23d780dff",
               :page 2,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 331.1866989135742,
                                     :x2 1092.0730152130127,
                                     :y2 407.03343200683594,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 835.184160232544,
                                   :y1 331.1866989135742,
                                   :x2 1053.7887134552002,
                                   :y2 355.83421325683594,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 356.86832427978516,
                                   :x2 1092.0730152130127,
                                   :y2 381.5158386230469,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 382.38592529296875,
                                   :x2 636.3932666778564,
                                   :y2 407.03343200683594,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "Because advancing age is associated with cognitive, visual, and physical impairments, reductions in driving capacity are likely to develop in older persons"},
               :properties {:color "yellow"}}
              {:id #uuid "68021aad-8792-4259-a17e-c8d5455b33ff",
               :page 2,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 379.1266784667969,
                                     :x2 1103.7785816192627,
                                     :y2 483.9071502685547,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 1041.2076587677002,
                                   :y1 379.1266784667969,
                                   :x2 1075.3462085723877,
                                   :y2 398.75340270996094,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 672.6432056427002,
                                   :y1 382.38592529296875,
                                   :x2 1041.1815357208252,
                                   :y2 407.03343200683594,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 408.0675506591797,
                                   :x2 1078.9098072052002,
                                   :y2 432.7150573730469,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 404.0808582305908,
                                   :y1 430.3187713623047,
                                   :x2 433.94172859191895,
                                   :y2 449.94549560546875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 433.5780029296875,
                                   :x2 404.11738777160645,
                                   :y2 458.22552490234375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 435.01863288879395,
                                   :y1 433.5780029296875,
                                   :x2 1103.7785816192627,
                                   :y2 458.22552490234375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 459.25962829589844,
                                   :x2 1002.5570240020752,
                                   :y2 483.9071502685547,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "Surprisingly, despite high prevalence rates,9–11 sleep disturbances have not been evaluated as risk factors for reduced driving capacity in older age.3–8 This is, perhaps, because rates of drowsy-driving are low in persons aged ≥65, with only 4–6% having “dozed-off” while driving, versus 20–27% of all drivers"},
               :properties {:color "yellow"}}
              {:id #uuid "68021ace-8b8e-469d-9875-d4954e6e497e",
               :page 2,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 531.7472839355469,
                                     :x2 1103.2978687286377,
                                     :y2 658.7789611816406,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 802.291582107544,
                                   :y1 531.7472839355469,
                                   :x2 1103.2978687286377,
                                   :y2 556.3948059082031,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 557.4289245605469,
                                   :x2 1026.2594165802002,
                                   :y2 582.076416015625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 582.9393615722656,
                                   :x2 1092.2736988067627,
                                   :y2 607.5868835449219,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 608.6210021972656,
                                   :x2 1074.2837085723877,
                                   :y2 633.2685241699219,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 634.1314697265625,
                                   :x2 461.5926685333252,
                                   :y2 658.7789611816406,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "First, older persons who have sleep disturbances stop driving, whereas those who continue to drive do not have a sleep disturbance. This is unlikely because prior work has shown that a substantial proportion of older drivers have sleep disturbances, including insomnia, daytime drowsiness, and high sleep apnea risk."},
               :properties {:color "yellow"}}
              {:id #uuid "68021af2-8f1a-4c57-9dc9-d1d101ab25c5",
               :page 2,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 685.3306884765625,
                                     :x2 1106.2002124786377,
                                     :y2 889.2432250976562,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 408.86250495910645,
                                   :y1 685.3306884765625,
                                   :x2 1087.2357349395752,
                                   :y2 709.9781799316406,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 711.0122985839844,
                                   :x2 1101.6828784942627,
                                   :y2 735.6598205566406,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 736.5227661132812,
                                   :x2 1056.4933032989502,
                                   :y2 761.1702880859375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 762.2044067382812,
                                   :x2 1100.3515796661377,
                                   :y2 786.8519287109375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 561.7935962677002,
                                   :y1 784.4556274414062,
                                   :x2 621.4225635528564,
                                   :y2 804.0823364257812,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 787.7219848632812,
                                   :x2 561.7462940216064,
                                   :y2 812.3695068359375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 622.5066089630127,
                                   :y1 787.7219848632812,
                                   :x2 1091.7552661895752,
                                   :y2 812.3695068359375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 813.4036254882812,
                                   :x2 1106.2002124786377,
                                   :y2 838.0511474609375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 838.9140625,
                                   :x2 1100.3062915802002,
                                   :y2 863.5615844726562,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 864.595703125,
                                   :x2 794.5153980255127,
                                   :y2 889.2432250976562,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "Second, older drivers who have sleep disturbances may not experience drowsydriving because they change their driving practices. This merits consideration because prior work has shown that older drivers on their own initiative compensate for reductions in driving capacity by avoiding high-risk settings such as peak-traffic times and night-time, or by driving shorter distances.4,14–19 Whether sleep disturbances could also lead to a similar change in driving practices has not yet been reported. In particular, driving shorter distances and avoiding night-time driving (i.e. reduced circadian alertness) would likely attenuate the adverse effects of sleep disturbances on driver alertness"},
               :properties {:color "yellow"}}
              {:id #uuid "68021b74-0efd-4db0-8491-8fa8ca63e369",
               :page 4,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 1320.1111450195312,
                                     :x2 1105.9814624786377,
                                     :y2 1370.2691345214844,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 543.431718826294,
                                   :y1 1320.1111450195312,
                                   :x2 1105.9814624786377,
                                   :y2 1344.7586669921875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 1345.6216125488281,
                                   :x2 926.7226123809814,
                                   :y2 1370.2691345214844,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 4},
               :content {:text "Participants averaged 7.7 medications—91.9% (395/430) used ≥4 medications and 14.0% (60/430) reported the use of a CNS-medication"},
               :properties {:color "green"}}
              {:id #uuid "68021ba0-9b46-4bd3-bf6c-df63aab23243",
               :page 4,
               :position {:bounding {:x1 432.56859016418457,
                                     :y1 1443.790870666504,
                                     :x2 1030.2514514923096,
                                     :y2 1468.4383850097656,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 432.56859016418457,
                                   :y1 1443.790870666504,
                                   :x2 1030.2514514923096,
                                   :y2 1468.4383850097656,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 4},
               :content {:text "Sleep disturbances in the form of insomnia (ISI≥8) occurred in 26.0%"},
               :properties {:color "green"}}
              {:id #uuid "68021bb3-c059-4914-8a5e-9383a06de3dc",
               :page 5,
               :position {:bounding {:x1 414.11705207824707,
                                     :y1 129.62051391601562,
                                     :x2 833.965654373169,
                                     :y2 154.26800537109375,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 414.11705207824707,
                                   :y1 129.62051391601562,
                                   :x2 833.965654373169,
                                   :y2 154.26800537109375,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "daytime drowsiness (ESS≥10) in 19.3% (83/430)"},
               :properties {:color "green"}}
              {:id #uuid "68021bc1-fa0b-43b6-bc89-60c2c2272276",
               :page 5,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 155.3021240234375,
                                     :x2 1093.4198169708252,
                                     :y2 205.46014404296875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 592.777910232544,
                                   :y1 155.3021240234375,
                                   :x2 1093.4198169708252,
                                   :y2 179.94964599609375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 180.8126220703125,
                                   :x2 871.6564502716064,
                                   :y2 205.46014404296875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "Driving averaged 22.2 miles/day—5.1% (22/394) reported drowsy-driving and 30.7% (132/430) avoided night-time driving"},
               :properties {:color "green"}}
              {:id #uuid "68021bdc-1098-46f1-8bc1-af33bef7188c",
               :page 5,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 278.9818878173828,
                                     :x2 1069.5258655548096,
                                     :y2 329.13987731933594,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 394.15526008605957,
                                   :y1 278.9818878173828,
                                   :x2 1069.5258655548096,
                                   :y2 303.62940979003906,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 304.4923553466797,
                                   :x2 601.867509841919,
                                   :y2 329.13987731933594,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "insomnia, daytime drowsiness, and high sleep apnea risk were not significantly associated with driving cessation"},
               :properties {:color "green"}}
              {:id #uuid "68021c1a-5926-4b1b-9d1c-dd1ffba54de8",
               :page 5,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 731.2879943847656,
                                     :x2 1111.7024097442627,
                                     :y2 832.6380920410156,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 875.703203201294,
                                   :y1 731.2879943847656,
                                   :x2 1083.6561450958252,
                                   :y2 755.9355163574219,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 756.7984924316406,
                                   :x2 992.7492237091064,
                                   :y2 781.4460144042969,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 782.4801330566406,
                                   :x2 1111.7024097442627,
                                   :y2 807.1275939941406,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 807.9905700683594,
                                   :x2 458.10847663879395,
                                   :y2 832.6380920410156,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "only four variables were significantly associated with daily driving mileage, namely insomnia ( p=0.01), polypharmacy (≥4 medications, p=0.01), age (each year of additional age, p=0.02), and male gender (p=0.01)"},
               :properties {:color "green"}}
              {:id #uuid "68021c38-4105-4922-a423-74705eebec1c",
               :page 5,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 936.0635070800781,
                                     :x2 1105.6617603302002,
                                     :y2 986.2286071777344,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 909.9470386505127,
                                   :y1 936.0635070800781,
                                   :x2 1043.5415210723877,
                                   :y2 960.7110290527344,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 961.5810852050781,
                                   :x2 1105.6617603302002,
                                   :y2 986.2286071777344,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "neither daytime drowsiness or high sleep apnea risk were significantly associated with daily driving mileage"},
               :properties {:color "green"}}
              {:id #uuid "68021c7f-0d6d-4410-a74c-5edea8f9c2e1",
               :page 6,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 432.56526947021484,
                                     :x2 1071.8532886505127,
                                     :y2 508.40486907958984,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 613.859941482544,
                                   :y1 432.56526947021484,
                                   :x2 1069.4835376739502,
                                   :y2 457.2127914428711,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 458.24691009521484,
                                   :x2 1071.8532886505127,
                                   :y2 482.8944320678711,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 483.75740814208984,
                                   :x2 844.4594287872314,
                                   :y2 508.40486907958984,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 6},
               :content {:text "It is well established that medication- and age-related adverse effects include reductions in physical and neurocognitive function, and these, in turn, may lead to both insomnia and reduced driving capacity"},
               :properties {:color "yellow"}}
              {:id #uuid "68021caf-b7dd-458b-a0aa-73cc2f6f1ff6",
               :page 6,
               :position {:bounding {:x1 319.99690437316895,
                                     :y1 936.0635070800781,
                                     :x2 1102.6339282989502,
                                     :y2 1011.9102478027344,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 831.2687549591064,
                                   :y1 936.0635070800781,
                                   :x2 1102.6339282989502,
                                   :y2 960.7110290527344,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 961.5810852050781,
                                   :x2 1066.5785083770752,
                                   :y2 986.2286071777344,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 319.99690437316895,
                                   :y1 987.2627258300781,
                                   :x2 655.9362354278564,
                                   :y2 1011.9102478027344,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 6},
               :content {:text "This clinical approach may also mitigate the social isolation and depressive symptoms that can complicate the course of insomnia and reduced driving capacity."},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
