{:highlights [{:id #uuid "67bde1e6-d268-4953-961c-c1cac41a27cc",
               :page 2,
               :position {:bounding {:x1 249.99825286865234,
                                     :y1 624.2753143310547,
                                     :x2 864.6166610717773,
                                     :y2 666.3244171142578,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 805.4588241577148,
                                   :y1 624.2753143310547,
                                   :x2 864.6166610717773,
                                   :y2 642.9891510009766,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 249.99825286865234,
                                   :y1 647.6105804443359,
                                   :x2 673.0860824584961,
                                   :y2 666.3244171142578,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "impaired sleep is a more consistent predictor of pain than pain is of sleep"},
               :properties {:color "yellow"}}
              {:id #uuid "67bde2b1-50ba-479e-8e98-2761ed4d5383",
               :page 4,
               :position {:bounding {:x1 528.8333969116211,
                                     :y1 843.5283508300781,
                                     :x2 576.6161727905273,
                                     :y2 862.2422180175781,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 528.8333969116211,
                                   :y1 843.5283508300781,
                                   :x2 576.6161727905273,
                                   :y2 862.2422180175781,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "SF-36"},
               :properties {:color "purple"}}
              {:id #uuid "67bde2c0-755e-4d61-8615-bbeec304b502",
               :page 4,
               :position {:bounding {:x1 249.99825286865234,
                                     :y1 1023.8916625976562,
                                     :x2 489.6344223022461,
                                     :y2 1042.6055297851562,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 249.99825286865234,
                                   :y1 1023.8916625976562,
                                   :x2 489.6344223022461,
                                   :y2 1042.6055297851562,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text "This study utilized the Vitality scale"},
               :properties {:color "yellow"}}
              {:id #uuid "67bde3d9-3c5e-41c9-8da5-b5a70c47eb63",
               :page 9,
               :position {:bounding {:x1 249.99825286865234,
                                     :y1 712.9949264526367,
                                     :x2 843.0361557006836,
                                     :y2 755.044059753418,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 346.36278533935547,
                                   :y1 712.9949264526367,
                                   :x2 843.0361557006836,
                                   :y2 731.7087936401367,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 249.99825286865234,
                                   :y1 736.330192565918,
                                   :x2 368.93663787841797,
                                   :y2 755.044059753418,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 9},
               :content {:text "changes in sleep complaints at 3 months significantly predicted changes in pain at 12 months"},
               :properties {:color "yellow"}}
              {:id #uuid "67bde439-3ecc-4b90-a222-cf3e7e7ada59",
               :page 10,
               :position {:bounding {:x1 249.99825286865234,
                                     :y1 529.679081082344,
                                     :x2 853.8335800170898,
                                     :y2 595.0563393831253,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 249.99825286865234,
                                   :y1 529.679081082344,
                                   :x2 844.0651473999023,
                                   :y2 548.392948269844,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 249.99825286865234,
                                   :y1 553.007206082344,
                                   :x2 853.8335800170898,
                                   :y2 571.721073269844,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 249.99825286865234,
                                   :y1 576.3424721956253,
                                   :x2 579.5810775756836,
                                   :y2 595.0563393831253,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 10},
               :content {:text "The finding of three distinct symptom domains supports the theory that sleep disturbance and depression/anxiety symptoms may be precipitated by pain, but eventually develop into independent conditions requiring direct treatment"},
               :properties {:color "yellow"}}
              {:id #uuid "67bde46b-3882-4d8f-8dc9-bf105eb6d538",
               :page 10,
               :position {:bounding {:x1 249.99825286865234,
                                     :y1 849.6759796142578,
                                     :x2 862.8891830444336,
                                     :y2 915.0603179931641,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 404.7471237182617,
                                   :y1 849.6759796142578,
                                   :x2 862.8891830444336,
                                   :y2 868.3898468017578,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 249.99825286865234,
                                   :y1 873.0112457275391,
                                   :x2 835.5159530639648,
                                   :y2 891.7250518798828,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 249.99825286865234,
                                   :y1 896.3465118408203,
                                   :x2 583.0447006225586,
                                   :y2 915.0603179931641,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 10},
               :content {:text "SEM analyses support a bidirectional relationship between sleep and pain and agree with prior research suggesting that changes in sleep complaints are more strongly related to changes in pain than vice versa"},
               :properties {:color "yellow"}}
              {:id #uuid "67bde4bc-068f-4064-a80e-ef83968169be",
               :page 10,
               :position {:bounding {:x1 249.99825286865234,
                                     :y1 1013.0085601806641,
                                     :x2 836.6983871459961,
                                     :y2 1055.057632446289,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 322.41487884521484,
                                   :y1 1013.0085601806641,
                                   :x2 836.6983871459961,
                                   :y2 1031.722427368164,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 249.99825286865234,
                                   :y1 1036.3438262939453,
                                   :x2 426.8316879272461,
                                   :y2 1055.057632446289,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 10},
               :content {:text "sleep does appear to be a particularly important condition to target in treating patients with chronic pain."},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
