{:highlights [{:id #uuid "67bdbd40-2866-4a41-a638-9ca65c6a3f5e",
               :page 2,
               :position {:bounding {:x1 277.2845308482647,
                                     :y1 436.8443603515625,
                                     :x2 878.4835054576397,
                                     :y2 515.2015075683594,
                                     :width 974.9999999999999,
                                     :height 1304.9999999999998},
                          :rects ({:x1 682.5805818736553,
                                   :y1 436.8443603515625,
                                   :x2 878.4832307994366,
                                   :y2 455.5582275390625,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 277.2845308482647,
                                   :y1 456.68505859375,
                                   :x2 878.4835054576397,
                                   :y2 475.3988952636719,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 277.2845308482647,
                                   :y1 476.64697265625,
                                   :x2 878.4441988170147,
                                   :y2 495.3608093261719,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 277.2845308482647,
                                   :y1 496.4876403808594,
                                   :x2 312.4284517467022,
                                   :y2 515.2015075683594,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}),
                          :page 2},
               :content {:text "olysomnographic studies of patients experiencing acute pain during postoperative recovery show shortened and fragmented sleep with reduced amounts of slow wave and rapid eye movement (REM) sleep"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdbd47-f67b-460e-aca4-4707b4b45145",
               :page 2,
               :position {:bounding {:x1 373.70918294787407,
                                     :y1 496.4876403808594,
                                     :x2 702.9590608775616,
                                     :y2 515.2015075683594,
                                     :width 974.9999999999999,
                                     :height 1304.9999999999998},
                          :rects ({:x1 373.70918294787407,
                                   :y1 496.4876403808594,
                                   :x2 702.9590608775616,
                                   :y2 515.2015075683594,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}),
                          :page 2},
               :content {:text "recovery is accompanied by normalization of sleep"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdbd6c-a7cd-420c-8cd8-5f3fb0d33388",
               :page 2,
               :position {:bounding {:x1 277.2845308482647,
                                     :y1 516.4495544433594,
                                     :x2 878.5089876353741,
                                     :y2 555.1324768066406,
                                     :width 974.9999999999999,
                                     :height 1304.9999999999998},
                          :rects ({:x1 477.39643880724907,
                                   :y1 516.4495544433594,
                                   :x2 878.5089876353741,
                                   :y2 535.1634216308594,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 277.2845308482647,
                                   :y1 536.4186096191406,
                                   :x2 873.9567720592022,
                                   :y2 555.1324768066406,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}),
                          :page 2},
               :content {:text "chronic pain conditions have been less deﬁnitive with some studies showing fragmented and shortened sleep and others showing normal sleep"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdbd80-5cc7-419d-8b01-cc6db8c34ab9",
               :page 2,
               :position {:bounding {:x1 277.2845308482647,
                                     :y1 576.3495788574219,
                                     :x2 878.5539400279522,
                                     :y2 634.7376708984375,
                                     :width 974.9999999999999,
                                     :height 1304.9999999999998},
                          :rects ({:x1 445.77595540881157,
                                   :y1 576.3495788574219,
                                   :x2 878.3369905650616,
                                   :y2 595.0634155273438,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 277.2845308482647,
                                   :y1 596.18310546875,
                                   :x2 878.5539400279522,
                                   :y2 614.89697265625,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 277.2845308482647,
                                   :y1 616.0238037109375,
                                   :x2 351.82002279162407,
                                   :y2 634.7376708984375,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}),
                          :page 2},
               :content {:text "objective assessments of daytime sleepiness reveal minimally elevated levels of sleepiness and emphasize the importance of distinguishing sleepiness and fatigue"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
