{:highlights [{:id #uuid "6804d875-742b-4a4f-a962-0af8bb59f4eb",
               :page 2,
               :position {:bounding {:x1 453.3330993652344,
                                     :y1 437.8143005371094,
                                     :x2 1297.5487976074219,
                                     :y2 522.4331665039062,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 453.3330993652344,
                                   :y1 437.8143005371094,
                                   :x2 1289.3354187011719,
                                   :y2 463.37469482421875,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 453.3330993652344,
                                   :y1 467.25439453125,
                                   :x2 1297.5487976074219,
                                   :y2 492.8147888183594,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 453.3330993652344,
                                   :y1 496.8727722167969,
                                   :x2 1109.5724792480469,
                                   :y2 522.4331665039062,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "Sleep disturbance and sleep deprivation are highly prevalent in contemporary society with its round-the-clock work schedules. An increasing amount of evidence indicates that sleep habits are crucial factors in the occurrence of occupational and traffic accidents"},
               :properties {:color "yellow"}}
              {:id #uuid "6804d887-77ab-4e16-b7c4-e163af488c91",
               :page 2,
               :position {:bounding {:x1 453.3330993652344,
                                     :y1 496.87278747558594,
                                     :x2 1287.9687194824219,
                                     :y2 610.7605438232422,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 1171.6771240234375,
                                   :y1 496.87278747558594,
                                   :x2 1261.1324462890625,
                                   :y2 522.4331512451172,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 453.3330993652344,
                                   :y1 526.3199920654297,
                                   :x2 1287.9687194824219,
                                   :y2 551.8803863525391,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 453.3330993652344,
                                   :y1 555.7600860595703,
                                   :x2 1269.9175720214844,
                                   :y2 581.3204498291016,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 453.3330993652344,
                                   :y1 585.2001495361328,
                                   :x2 1246.4610290527344,
                                   :y2 610.7605438232422,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "A recently published cross-sectional study revealed that truck drivers have a high prevalence of obstructive sleep apnea (OSA), excessive daytime sleepiness (EDS) and sleep debt, and that each of these three conditions is independently associated with motor vehicle accidents (MVAs)"},
               :properties {:color "yellow"}}
              {:id #uuid "6804d894-2e26-4b8c-8b08-2bdb8e4a0282",
               :page 2,
               :position {:bounding {:x1 453.3330993652344,
                                     :y1 585.2001495361328,
                                     :x2 1286.382568359375,
                                     :y2 640.2006378173828,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 1252.153076171875,
                                   :y1 585.2001495361328,
                                   :x2 1286.382568359375,
                                   :y2 610.7605438232422,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 453.3330993652344,
                                   :y1 614.6402435302734,
                                   :x2 709.6353149414062,
                                   :y2 640.2006378173828,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "and near miss accidents (NMAs)"},
               :properties {:color "yellow"}}
              {:id #uuid "6804d8b1-804c-4f53-952f-f7ad367d3e01",
               :page 2,
               :position {:bounding {:x1 453.3330993652344,
                                     :y1 1086.2379150390625,
                                     :x2 1303.064453125,
                                     :y2 1141.2384033203125,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 1184.0556640625,
                                   :y1 1086.2379150390625,
                                   :x2 1303.064453125,
                                   :y2 1111.7982788085938,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 453.3330993652344,
                                   :y1 1115.677978515625,
                                   :x2 1087.9805603027344,
                                   :y2 1141.2384033203125,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "Insomnia has been associated with impaired driving performance in laboratory tests"},
               :properties {:color "yellow"}}
              {:id #uuid "6804d8c2-25f6-4c75-b30e-b825cd1d74d6",
               :page 2,
               :position {:bounding {:x1 453.3330993652344,
                                     :y1 1115.677978515625,
                                     :x2 1302.6328125,
                                     :y2 1200.1256713867188,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 1139.0548095703125,
                                   :y1 1115.677978515625,
                                   :x2 1302.6328125,
                                   :y2 1141.2384033203125,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 453.3330993652344,
                                   :y1 1145.1181030273438,
                                   :x2 1280.8609313964844,
                                   :y2 1170.678466796875,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 453.3330993652344,
                                   :y1 1174.5653076171875,
                                   :x2 1068.9668884277344,
                                   :y2 1200.1256713867188,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 2},
               :content {:text "A Norwegian population-based prospective cohort study showed that insomnia is a major contributor to both unintentional fatal injuries in general and fatal motor vehicle injurie"},
               :properties {:color "yellow"}}
              {:id #uuid "6804fa28-cd7d-4075-8331-19eaf6879752",
               :page 2,
               :position {:bounding {:x1 426.6672897338867,
                                     :y1 1105.3653869628906,
                                     :x2 1209.0924606323242,
                                     :y2 1213.3052368164062,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 1063.5603256225586,
                                   :y1 1105.3653869628906,
                                   :x2 1200.7293319702148,
                                   :y2 1130.0128784179688,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1133.0724487304688,
                                   :x2 1201.5942916870117,
                                   :y2 1157.7199401855469,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1160.7794799804688,
                                   :x2 1209.0924606323242,
                                   :y2 1185.427001953125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1188.65771484375,
                                   :x2 667.6199569702148,
                                   :y2 1213.3052368164062,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "An international cross-sectional survey carried out in 10 countries showed that subjects affected by insomnia had high rates of home accidents, car accidents and work accidents regardless of any adverse effects of hypnotic treatment"},
               :properties {:color "yellow"}}
              {:id #uuid "6804fa3e-341f-4410-81ef-54819b50c0e9",
               :page 2,
               :position {:bounding {:x1 426.6672897338867,
                                     :y1 1244.0789794921875,
                                     :x2 1222.7595748901367,
                                     :y2 1462.690185546875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 684.7126693725586,
                                   :y1 1244.0789794921875,
                                   :x2 1201.8255233764648,
                                   :y2 1268.7265014648438,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1271.7860412597656,
                                   :x2 1218.2087936401367,
                                   :y2 1296.4335632324219,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1299.500244140625,
                                   :x2 1212.7102584838867,
                                   :y2 1324.1477355957031,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1327.207275390625,
                                   :x2 1210.9614791870117,
                                   :y2 1351.8547973632812,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1354.9143371582031,
                                   :x2 1198.9938278198242,
                                   :y2 1379.5618591308594,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1382.7925720214844,
                                   :x2 1222.7595748901367,
                                   :y2 1407.4400939941406,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1410.5067443847656,
                                   :x2 1218.0833053588867,
                                   :y2 1435.1542663574219,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1438.0426635742188,
                                   :x2 768.5011215209961,
                                   :y2 1462.690185546875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "ccording to a recent meta-analysis, in insomniac patients, the risk of work injuries is more than double (Odds ratio OR = 2.87) [14]. This figure is similar to the cumulated odds for OSA patients (OR = 2.88). Insomnia and OSA are the two most common sleep disorders, found respectively in 6–20% and 23–50% of the general population [15,16]. Frequently these disorders are also concurrent, with 39–58% of OSA patients reporting symptoms indicative of co-morbid insomnia [15]. The prevalence of insomniac drivers ranges from 9.3% in regular registered highway car drivers [17] to 26% among older male car drivers who have already had a driving accident"},
               :properties {:color "yellow"}}
              {:id #uuid "6804fa60-2e6e-4422-84c7-68c074c36be9",
               :page 2,
               :position {:bounding {:x1 426.6672897338867,
                                     :y1 1465.9208679199219,
                                     :x2 1203.7744064331055,
                                     :y2 1518.2825775146484,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 452.25621795654297,
                                   :y1 1465.9208679199219,
                                   :x2 1203.7744064331055,
                                   :y2 1490.5683898925781,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1493.6350555419922,
                                   :x2 1142.9330368041992,
                                   :y2 1518.2825775146484,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "Occupational truck drivers often have to drive long distances and adhere to strict timetables. Consequently, they may pay little attention to fatigue and lack of concentration,"},
               :properties {:color "yellow"}}
              {:id #uuid "6804fad5-a904-4871-b2e5-1c23978b12dc",
               :page 5,
               :position {:bounding {:x1 426.6672897338867,
                                     :y1 1012.6020050048828,
                                     :x2 1222.480583190918,
                                     :y2 1064.7925567626953,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 501.88280487060547,
                                   :y1 1012.6020050048828,
                                   :x2 1222.480583190918,
                                   :y2 1037.249526977539,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1040.145034790039,
                                   :x2 720.6593246459961,
                                   :y2 1064.7925567626953,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "The prevalence of both MVAs and NMAs was significantly higher in insomniac drivers than in non-insomniac drivers "},
               :properties {:color "green"}}
              {:id #uuid "6804fae7-9914-4961-a651-6702f1572e90",
               :page 5,
               :position {:bounding {:x1 426.6672897338867,
                                     :y1 1067.8520965576172,
                                     :x2 1156.5239181518555,
                                     :y2 1120.3778381347656,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 457.61937713623047,
                                   :y1 1067.8520965576172,
                                   :x2 1156.5239181518555,
                                   :y2 1092.4996032714844,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1095.7303161621094,
                                   :x2 1004.3065719604492,
                                   :y2 1120.3778381347656,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "n the univariate logistic analyses insomnia was significantly associated with MVAs(OR:2.21, CI95%:1.65–2.99) and NMAs (OR:3.75, CI95%:2.39–5.88)"},
               :properties {:color "green"}}
              {:id #uuid "6804fb01-eaab-4af7-84ae-81b20d38befe",
               :page 5,
               :position {:bounding {:x1 426.6672897338867,
                                     :y1 1261.9869689941406,
                                     :x2 1225.4324569702148,
                                     :y2 1342.2268676757812,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 1020.5206527709961,
                                   :y1 1261.9869689941406,
                                   :x2 1225.4324569702148,
                                   :y2 1286.6344604492188,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1289.8651733398438,
                                   :x2 1217.6285934448242,
                                   :y2 1314.5126953125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1317.5793762207031,
                                   :x2 1036.1497116088867,
                                   :y2 1342.2268676757812,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "Insomniac truck drivers had an almost two-fold risk of MVAs (OR:1.82, CI95%:1.33–2.49) and a more than three-fold increased risk of NMAs (OR: 3.35, CI95%:2.06–5.45) than other drivers."},
               :properties {:color "green"}}
              {:id #uuid "6804fb6e-5a93-4813-af49-c268c55b4001",
               :page 6,
               :position {:bounding {:x1 426.6672897338867,
                                     :y1 1419.9635620117188,
                                     :x2 1217.2418746948242,
                                     :y2 1500.0322875976562,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 468.1095199584961,
                                   :y1 1419.9635620117188,
                                   :x2 1214.8395614624023,
                                   :y2 1444.6110534667969,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1447.677734375,
                                   :x2 1217.2418746948242,
                                   :y2 1472.3252563476562,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 426.6672897338867,
                                   :y1 1475.3848266601562,
                                   :x2 472.78890228271484,
                                   :y2 1500.0322875976562,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 6},
               :content {:text "Truck drivers present obesity, hypertension, dyslipidemia, and bad health habits such as smoking, drinking, and insufficient physical exercise, more frequently than the general population"},
               :properties {:color "green"}}],
 :extra {:page 9}}
