{:highlights [{:id #uuid "67f91570-65ea-495a-bab7-03dfadf814c0",
               :page 1,
               :position {:bounding {:x1 101.97052955627441,
                                     :y1 1188.3226013183594,
                                     :x2 518.5740756988525,
                                     :y2 1283.3395690917969,
                                     :width 1088.3,
                                     :height 1485.28},
                          :rects ({:x1 384.6077346801758,
                                   :y1 1188.3226013183594,
                                   :x2 518.568733215332,
                                   :y2 1211.6007995605469,
                                   :width 1088.3,
                                   :height 1485.28}
                                  {:x1 101.97052955627441,
                                   :y1 1212.2354431152344,
                                   :x2 518.5714511871338,
                                   :y2 1235.5136413574219,
                                   :width 1088.3,
                                   :height 1485.28}
                                  {:x1 101.97052955627441,
                                   :y1 1236.1484069824219,
                                   :x2 518.5740756988525,
                                   :y2 1259.4266052246094,
                                   :width 1088.3,
                                   :height 1485.28}
                                  {:x1 101.97052955627441,
                                   :y1 1260.0613708496094,
                                   :x2 258.3205051422119,
                                   :y2 1283.3395690917969,
                                   :width 1088.3,
                                   :height 1485.28}),
                          :page 1},
               :content {:text "Even though trafﬁc accident fatalities have decreased 25% from 2005 to 2014 [2], the number of severely injured victims increased by 10.2%,"},
               :properties {:color "yellow"}}
              {:id #uuid "67f9157d-4a4a-4f7c-ac52-bb1615c33bf7",
               :page 1,
               :position {:bounding {:x1 569.6100234985352,
                                     :y1 1121.4833068847656,
                                     :x2 801.285774230957,
                                     :y2 1144.7615051269531,
                                     :width 1088.3,
                                     :height 1485.28},
                          :rects ({:x1 569.6100234985352,
                                   :y1 1121.4833068847656,
                                   :x2 801.285774230957,
                                   :y2 1144.7615051269531,
                                   :width 1088.3,
                                   :height 1485.28}),
                          :page 1},
               :content {:text "by 4.8% from 2011 to 2012"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
