{:highlights [{:id #uuid "67fe60aa-d544-41aa-9a2b-0b14faa61faa",
               :page 1,
               :position {:bounding {:x1 612.2939071655273,
                                     :y1 1086.7157287597656,
                                     :x2 1088.5019149780273,
                                     :y2 1159.8167114257812,
                                     :width 1190.552,
                                     :height 1581.732},
                          :rects ({:x1 612.2939071655273,
                                   :y1 1086.7157287597656,
                                   :x2 1088.3777694702148,
                                   :y2 1109.9939575195312,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 612.2939071655273,
                                   :y1 1111.5486450195312,
                                   :x2 1088.5019149780273,
                                   :y2 1134.8268432617188,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 612.2939071655273,
                                   :y1 1136.5385131835938,
                                   :x2 848.7382431030273,
                                   :y2 1159.8167114257812,
                                   :width 1190.552,
                                   :height 1581.732}),
                          :page 1},
               :content {:text "Driving is a complex task that involves various perceptual, motor and cognitive processes and requires interaction with the road and the environment"},
               :properties {:color "yellow"}}
              {:id #uuid "67fe60bc-cdf7-4105-b0ec-9ab131a179a8",
               :page 1,
               :position {:bounding {:x1 612.2939071655273,
                                     :y1 1211.1942443847656,
                                     :x2 1088.3564071655273,
                                     :y2 1259.3053894042969,
                                     :width 1190.552,
                                     :height 1581.732},
                          :rects ({:x1 634.9159774780273,
                                   :y1 1211.1942443847656,
                                   :x2 1088.3564071655273,
                                   :y2 1234.4724426269531,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 612.2939071655273,
                                   :y1 1236.0271606445312,
                                   :x2 926.8556747436523,
                                   :y2 1259.3053894042969,
                                   :width 1190.552,
                                   :height 1581.732}),
                          :page 1},
               :content {:text "Falling asleep at the wheel is a significant cause of traffic accidents involving commercial drivers"},
               :properties {:color "yellow"}}
              {:id #uuid "67fe60c9-5442-4f7c-afce-1a22f1aae13c",
               :page 1,
               :position {:bounding {:x1 612.2939071655273,
                                     :y1 1236.0271606445312,
                                     :x2 1088.3420028686523,
                                     :y2 1333.9682312011719,
                                     :width 1190.552,
                                     :height 1581.732},
                          :rects ({:x1 936.8065414428711,
                                   :y1 1236.0271606445312,
                                   :x2 1088.2994003295898,
                                   :y2 1259.3053894042969,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 612.2939071655273,
                                   :y1 1261.0241394042969,
                                   :x2 1088.3223495483398,
                                   :y2 1284.3023681640625,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 612.2939071655273,
                                   :y1 1285.8570861816406,
                                   :x2 1088.3420028686523,
                                   :y2 1309.1352844238281,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 612.2939071655273,
                                   :y1 1310.6900329589844,
                                   :x2 684.3065414428711,
                                   :y2 1333.9682312011719,
                                   :width 1190.552,
                                   :height 1581.732}),
                          :page 1},
               :content {:text "Limitation of sleep leads to daytime sleepiness and impairment of psychomotor functions fundamental for drivers, such as alertness and reaction time"},
               :properties {:color "yellow"}}
              {:id #uuid "67fe63ef-023b-45be-8d4b-27cac33afad9",
               :page 2,
               :position {:bounding {:x1 102.02758026123047,
                                     :y1 264.84667205810547,
                                     :x2 578.2910537719727,
                                     :y2 337.7978744506836,
                                     :width 1190.552,
                                     :height 1581.732},
                          :rects ({:x1 135.96097564697266,
                                   :y1 264.84667205810547,
                                   :x2 578.2910537719727,
                                   :y2 288.12487030029297,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 102.02758026123047,
                                   :y1 289.52269744873047,
                                   :x2 578.2546615600586,
                                   :y2 312.8009262084961,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 102.02758026123047,
                                   :y1 314.5196762084961,
                                   :x2 472.53047943115234,
                                   :y2 337.7978744506836,
                                   :width 1190.552,
                                   :height 1581.732}),
                          :page 2},
               :content {:text "Beyond increasing the risk factor for accidents, OSAS causes deterioration of neurocognitive functions [7], which has a negative impact on driving performance"},
               :properties {:color "yellow"}}
              {:id #uuid "67fe6401-219d-46ff-9918-76b6019e5963",
               :page 2,
               :position {:bounding {:x1 102.02758026123047,
                                     :y1 314.51969146728516,
                                     :x2 578.3123397827148,
                                     :y2 387.6206741333008,
                                     :width 1190.552,
                                     :height 1581.732},
                          :rects ({:x1 482.62813568115234,
                                   :y1 314.51969146728516,
                                   :x2 578.0967636108398,
                                   :y2 337.79788970947266,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 102.02758026123047,
                                   :y1 339.50952911376953,
                                   :x2 578.3123397827148,
                                   :y2 362.78772735595703,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 102.02758026123047,
                                   :y1 364.34244537353516,
                                   :x2 180.27523040771484,
                                   :y2 387.6206741333008,
                                   :width 1190.552,
                                   :height 1581.732}),
                          :page 2},
               :content {:text "Obesity is a risk factor for OSA, as well as being an independent cause of sleepiness"},
               :properties {:color "yellow"}}
              {:id #uuid "67fe656f-b332-4997-9b39-f759b9838e83",
               :page 3,
               :position {:bounding {:x1 612.2939071655273,
                                     :y1 1360.6697387695312,
                                     :x2 1088.6000595092773,
                                     :y2 1433.6138305664062,
                                     :width 1190.552,
                                     :height 1581.732},
                          :rects ({:x1 973.0120468139648,
                                   :y1 1360.6697387695312,
                                   :x2 1088.3466415405273,
                                   :y2 1383.9479370117188,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 612.2939071655273,
                                   :y1 1385.502685546875,
                                   :x2 1088.6000595092773,
                                   :y2 1408.7808837890625,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 612.2939071655273,
                                   :y1 1410.3356323242188,
                                   :x2 711.7106552124023,
                                   :y2 1433.6138305664062,
                                   :width 1190.552,
                                   :height 1581.732}),
                          :page 3},
               :content {:text "For high OSA risk drivers, the risk of failing the reaction time test was 2.23 times higher"},
               :properties {:color "green"}}
              {:id #uuid "67fe6586-896e-4c64-af3d-5d2316499886",
               :page 4,
               :position {:bounding {:x1 102.02758026123047,
                                     :y1 735.8880710601807,
                                     :x2 577.0448837280273,
                                     :y2 808.9890232086182,
                                     :width 1190.552,
                                     :height 1581.732},
                          :rects ({:x1 268.67064666748047,
                                   :y1 735.8880710601807,
                                   :x2 576.9858016967773,
                                   :y2 759.1662693023682,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 102.02758026123047,
                                   :y1 760.7209568023682,
                                   :x2 577.0448837280273,
                                   :y2 783.9992160797119,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 102.02758026123047,
                                   :y1 785.7108249664307,
                                   :x2 263.2712631225586,
                                   :y2 808.9890232086182,
                                   :width 1190.552,
                                   :height 1581.732}),
                          :page 4},
               :content {:text "ignificant associations were found between OSA risk and obesity, ESS score and poor performance in reaction time test."},
               :properties {:color "green"}}
              {:id #uuid "67fe65b5-55ac-4ae8-a5d1-8b6b38244f0a",
               :page 4,
               :position {:bounding {:x1 102.02758026123047,
                                     :y1 935.0293579101562,
                                     :x2 578.2503280639648,
                                     :y2 1008.13037109375,
                                     :width 1190.552,
                                     :height 1581.732},
                          :rects ({:x1 282.06819915771484,
                                   :y1 935.0293579101562,
                                   :x2 578.2503280639648,
                                   :y2 958.3076171875,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 102.02758026123047,
                                   :y1 959.8623046875,
                                   :x2 578.0118026733398,
                                   :y2 983.1405029296875,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 102.02758026123047,
                                   :y1 984.8521728515625,
                                   :x2 398.3971481323242,
                                   :y2 1008.13037109375,
                                   :width 1190.552,
                                   :height 1581.732}),
                          :page 4},
               :content {:text "eck circumference and ESS score were found to be significantly higher for drivers involved in accidents compared to those who were not "},
               :properties {:color "green"}}
              {:id #uuid "67fe65e3-fc4b-456d-83e6-5dce155559c5",
               :page 4,
               :position {:bounding {:x1 612.2939071655273,
                                     :y1 214.86700439453125,
                                     :x2 1088.1679306030273,
                                     :y2 263.13507080078125,
                                     :width 1190.552,
                                     :height 1581.732},
                          :rects ({:x1 655.4479598999023,
                                   :y1 214.86700439453125,
                                   :x2 1088.1679306030273,
                                   :y2 238.14520263671875,
                                   :width 1190.552,
                                   :height 1581.732}
                                  {:x1 612.2939071655273,
                                   :y1 239.8568115234375,
                                   :x2 947.7099227905273,
                                   :y2 263.13507080078125,
                                   :width 1190.552,
                                   :height 1581.732}),
                          :page 4},
               :content {:text "he ESS score was significantly higher for drivers with self-reported RTA in multivariate analysis"},
               :properties {:color "green"}}],
 :extra {:page 1}}
