{:highlights [{:id #uuid "67bdbef0-1c50-40f2-9c60-89969f1c2dfd",
               :page 1,
               :position {:bounding {:x1 105.99286651611328,
                                     :y1 453.5256652832031,
                                     :x2 1026.9770774841309,
                                     :y2 492.7933807373047,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 780.6307029724121,
                                   :y1 453.5256652832031,
                                   :x2 1026.9770774841309,
                                   :y2 472.2395324707031,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 105.99286651611328,
                                   :y1 474.07952880859375,
                                   :x2 577.5453872680664,
                                   :y2 492.7933807373047,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 1},
               :content {:text "all sleep parameters, except sleep duration, were significantly associated with reduced pain tolerance."},
               :properties {:color "yellow"}}
              {:id #uuid "67bdbf48-6d9e-4e17-a2e1-9daf60c0e1a2",
               :page 1,
               :position {:bounding {:x1 94.79593658447266,
                                     :y1 927.2058410644531,
                                     :x2 552.2246360778809,
                                     :y2 966.3237609863281,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 338.8669090270996,
                                   :y1 927.2058410644531,
                                   :x2 552.2246360778809,
                                   :y2 945.9196472167969,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 94.79593658447266,
                                   :y1 947.6098937988281,
                                   :x2 349.2142868041992,
                                   :y2 966.3237609863281,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 1},
               :content {:text "insomnia exacerbates existing pain and predicts new-onset pain"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdbf61-68eb-402b-ab2e-9441a4ec4f98",
               :page 1,
               :position {:bounding {:x1 248.02273178100586,
                                     :y1 968.1566467285156,
                                     :x2 518.6797142028809,
                                     :y2 986.8705139160156,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 248.02273178100586,
                                   :y1 968.1566467285156,
                                   :x2 518.6797142028809,
                                   :y2 986.8705139160156,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 1},
               :content {:text "sleep quality predicts pain severity"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdc47d-4f07-46ed-a0bc-1e81ceda26a7",
               :page 3,
               :position {:bounding {:x1 485.7400245666504,
                                     :y1 561.4512634277344,
                                     :x2 552.3071937561035,
                                     :y2 580.1651000976562,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 485.7400245666504,
                                   :y1 561.4512634277344,
                                   :x2 552.3071937561035,
                                   :y2 580.1651000976562,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 3},
               :content {:text "algorithm"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdc716-2d7f-4f79-af71-41e5813acc71",
               :page 4,
               :position {:bounding {:x1 71.06842803955078,
                                     :y1 252.02365112304688,
                                     :x2 528.7775955200195,
                                     :y2 311.6883239746094,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 446.1626892089844,
                                   :y1 252.02365112304688,
                                   :x2 528.7301025390625,
                                   :y2 270.7375183105469,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842803955078,
                                   :y1 272.5704040527344,
                                   :x2 528.7775955200195,
                                   :y2 291.2842712402344,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842803955078,
                                   :y1 292.9745178222656,
                                   :x2 285.29361724853516,
                                   :y2 311.6883239746094,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "Participants with an insomnia disorder were more likely to withdraw before the test ended than did the controls"},
               :properties {:color "green"}}
              {:id #uuid "67bdc726-149c-46e2-8ec9-3d8f01b254f7",
               :page 4,
               :position {:bounding {:x1 71.06842803955078,
                                     :y1 333.9253234863281,
                                     :x2 528.7243118286133,
                                     :y2 434.3981628417969,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 455.9991149902344,
                                   :y1 333.9253234863281,
                                   :x2 528.6202392578125,
                                   :y2 352.6391906738281,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842803955078,
                                   :y1 354.3293762207031,
                                   :x2 528.7243118286133,
                                   :y2 373.0432434082031,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842803955078,
                                   :y1 374.7334899902344,
                                   :x2 528.6543121337891,
                                   :y2 393.4473571777344,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842803955078,
                                   :y1 395.2802429199219,
                                   :x2 528.5133056640625,
                                   :y2 414.9070129394531,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842803955078,
                                   :y1 415.6842956542969,
                                   :x2 132.59388732910156,
                                   :y2 434.3981628417969,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "articipants reporting insomnia more than once a week had a 52% higher hazard ratio (HR 5 1.52) for reduced cold-pressor pain tolerance, compared with weekly (HR 5 1.39) and monthly (HR 5 1.24) complaints of insomnia"},
               :properties {:color "green"}}
              {:id #uuid "67bdc739-f0d3-4577-86bb-49be09579edc",
               :page 4,
               :position {:bounding {:x1 71.06842803955078,
                                     :y1 415.6842956542969,
                                     :x2 528.6195678710938,
                                     :y2 454.9449157714844,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 376.2624206542969,
                                   :y1 415.6842956542969,
                                   :x2 528.6195678710938,
                                   :y2 434.3981628417969,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842803955078,
                                   :y1 436.2310485839844,
                                   :x2 368.4839859008789,
                                   :y2 454.9449157714844,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "Insomnia severity was also associated with reduced pain tolerance"},
               :properties {:color "green"}}
              {:id #uuid "67bdc776-0983-41e7-9245-bf4dd50c9b3a",
               :page 4,
               :position {:bounding {:x1 71.06842422485352,
                                     :y1 477.181884765625,
                                     :x2 528.7819862365723,
                                     :y2 557.2506103515625,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 407.38896560668945,
                                   :y1 477.181884765625,
                                   :x2 528.0623970031738,
                                   :y2 495.89569091796875,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 497.5859375,
                                   :x2 528.7819862365723,
                                   :y2 516.2998046875,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 517.9900512695312,
                                   :x2 528.2014198303223,
                                   :y2 536.7039184570312,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 538.5367431640625,
                                   :x2 321.18486404418945,
                                   :y2 557.2506103515625,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "SOL of more than1 hour had a 53% higher HR for reduced pain tolerance, compared with 37% in participants with an SOL of 30 to 59 minutes and 16% for those with an SOL of 15 to 29 minutes"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdc787-f97a-48fb-85c3-3cf850c18e4f",
               :page 4,
               :position {:bounding {:x1 71.06842422485352,
                                     :y1 558.9408569335938,
                                     :x2 528.6069526672363,
                                     :y2 598.0516967773438,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 155.2153205871582,
                                   :y1 558.9408569335938,
                                   :x2 528.6069526672363,
                                   :y2 577.6547241210938,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 579.3378295898438,
                                   :x2 502.90259170532227,
                                   :y2 598.0516967773438,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "sleep duration was not associated with reduced pain tolerance, with the exception of those sleeping 8 hours or more"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdc7a5-3dee-495a-bbf3-25cc02046e50",
               :page 4,
               :position {:bounding {:x1 271.1494941711426,
                                     :y1 108.76715087890625,
                                     :x2 1014.1487007141113,
                                     :y2 700.357421875,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 556.4732246398926,
                                   :y1 108.76715087890625,
                                   :x2 1014.1487007141113,
                                   :y2 127.48098754882812,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 556.4732246398926,
                                   :y1 129.31387329101562,
                                   :x2 626.2652168273926,
                                   :y2 148.02774047851562,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 271.1494941711426,
                                   :y1 681.6435546875,
                                   :x2 527.9909858703613,
                                   :y2 700.357421875,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "adjustments for psychological distress(HSCL . 1.85) reduced the associations, but most HRs remained significant"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdc87a-e5dd-4b0b-8ce5-05d138402b7c",
               :page 4,
               :position {:bounding {:x1 556.4732246398926,
                                     :y1 372.95770263671875,
                                     :x2 1014.1832466125488,
                                     :y2 412.07562255859375,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 556.4732246398926,
                                   :y1 372.95770263671875,
                                   :x2 1014.1832466125488,
                                   :y2 391.6715087890625,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 556.4732246398926,
                                   :y1 393.36175537109375,
                                   :x2 644.3158760070801,
                                   :y2 412.07562255859375,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 4},
               :content {:text "indicating a synergistic interaction effect in the crude analyses(SI 5 1.334"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdc8d3-047e-45ab-89c8-4fa7b866c440",
               :page 5,
               :position {:bounding {:x1 580.2007637023926,
                                     :y1 877.0906372070312,
                                     :x2 1037.9071235656738,
                                     :y2 936.7552795410156,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 580.2007637023926,
                                   :y1 877.0906372070312,
                                   :x2 1037.9071235656738,
                                   :y2 895.8044738769531,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 962.3869819641113,
                                   :y1 894.5350036621094,
                                   :x2 1037.6694526672363,
                                   :y2 907.7716369628906,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 580.2007637023926,
                                   :y1 897.4875793457031,
                                   :x2 966.8229560852051,
                                   :y2 916.2014465332031,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 980.4590034484863,
                                   :y1 897.4875793457031,
                                   :x2 1037.6694526672363,
                                   :y2 916.2014465332031,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 580.2007637023926,
                                   :y1 918.0414428710938,
                                   :x2 933.3064155578613,
                                   :y2 936.7552795410156,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 5},
               :content {:text "although there is a significant overlap between those who report insomnia and those who have a short sleep duration, 47 it is also important to distinguish between these 2 groups"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdc996-7fc7-4b87-b30e-63af5a994600",
               :page 6,
               :position {:bounding {:x1 71.06842422485352,
                                     :y1 292.9745178222656,
                                     :x2 528.5725898742676,
                                     :y2 373.0432434082031,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 198.22536087036133,
                                   :y1 292.9745178222656,
                                   :x2 528.5725898742676,
                                   :y2 311.6883239746094,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 313.3785705566406,
                                   :x2 528.3733100891113,
                                   :y2 332.0924377441406,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 333.9253234863281,
                                   :x2 528.4947700500488,
                                   :y2 352.6391906738281,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 354.3293762207031,
                                   :x2 213.72829055786133,
                                   :y2 373.0432434082031,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 6},
               :content {:text "Consistent with this finding is the fact that depressive symptoms have been found to mediate the association between sleep and pain in both clinical and nonclinical samples"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdc9b1-9238-4fa6-9fc4-3cd76fef92c7",
               :page 6,
               :position {:bounding {:x1 71.06842422485352,
                                     :y1 415.6842956542969,
                                     :x2 528.7080726623535,
                                     :y2 495.8957214355469,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 317.6505317687988,
                                   :y1 415.6842956542969,
                                   :x2 528.6082954406738,
                                   :y2 434.3981628417969,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 384.7322883605957,
                                   :y1 433.2784729003906,
                                   :x2 528.5371284484863,
                                   :y2 446.5151062011719,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 436.2310485839844,
                                   :x2 389.2752571105957,
                                   :y2 454.9449157714844,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 404.2448921203613,
                                   :y1 436.2310485839844,
                                   :x2 528.5371284484863,
                                   :y2 454.9449157714844,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 456.6351623535156,
                                   :x2 528.7080726623535,
                                   :y2 475.3489685058594,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 477.1818542480469,
                                   :x2 120.91020584106445,
                                   :y2 495.8957214355469,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 6},
               :content {:text "sleep quality mediates the relationship between pain and depression, 16 and as such, the temporal dynamics between these 3 conditions remain uncertain"},
               :properties {:color "yellow"}}
              {:id #uuid "67bdc9cb-4e0a-4f7f-a6d8-ab003b09bc08",
               :page 6,
               :position {:bounding {:x1 71.06842422485352,
                                     :y1 517.9900207519531,
                                     :x2 528.8274116516113,
                                     :y2 598.0516662597656,
                                     :width 1108.7477333333331,
                                     :height 1478.3999999999999},
                          :rects ({:x1 386.5922431945801,
                                   :y1 517.9900207519531,
                                   :x2 528.8274116516113,
                                   :y2 536.7038879394531,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 538.5367736816406,
                                   :x2 528.7589149475098,
                                   :y2 557.2506408691406,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 558.9408874511719,
                                   :x2 528.5664253234863,
                                   :y2 577.6546936035156,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}
                                  {:x1 71.06842422485352,
                                   :y1 579.3377990722656,
                                   :x2 392.54712295532227,
                                   :y2 598.0516662597656,
                                   :width 1108.7477333333331,
                                   :height 1478.3999999999999}),
                          :page 6},
               :content {:text "It is well known that dopamine is fundamental in the sleep–wake regulation, and it has been suggested that pain may alter the signaling of dopamine, negatively affecting sleep quality"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
