{:highlights [{:id #uuid "67f9288a-fc30-4ab8-bbb4-f4083627fa8d",
               :page 1,
               :position {:bounding {:x1 62.724220275878906,
                                     :y1 633.5466842651367,
                                     :x2 495.4861831665039,
                                     :y2 723.0935592651367,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 62.724220275878906,
                                   :y1 633.5466842651367,
                                   :x2 493.31400299072266,
                                   :y2 650.891227722168,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 62.724220275878906,
                                   :y1 651.632926940918,
                                   :x2 495.4861831665039,
                                   :y2 668.9774703979492,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 62.724220275878906,
                                   :y1 669.5836715698242,
                                   :x2 494.12369537353516,
                                   :y2 686.9282150268555,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 62.724220275878906,
                                   :y1 687.5344161987305,
                                   :x2 490.94327545166016,
                                   :y2 704.8789596557617,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 62.724220275878906,
                                   :y1 705.7490158081055,
                                   :x2 246.67276763916016,
                                   :y2 723.0935592651367,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "THERE IS A BROAD CONSENSUS THAT FATIGUE REPRESENTS A MAJOR PROBLEM FOR ROAD SAFETY, AND SEVERAL RESEARCHERS SHARE THE OPINION THAT IT IS NOT SUFFICIENTLY RECOGNIZED AND REPORTED AS A CAUSAL FACTOR IN ROAD ACCIDENTS"},
               :properties {:color "yellow"}}
              {:id #uuid "67f928a2-158f-4a73-9cca-63ae714b718e",
               :page 1,
               :position {:bounding {:x1 80.28984832763672,
                                     :y1 926.264404296875,
                                     :x2 634.3406372070312,
                                     :y2 971.6083984375,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 164.35665893554688,
                                   :y1 926.264404296875,
                                   :x2 634.3406372070312,
                                   :y2 948.6297607421875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 80.28984832763672,
                                   :y1 949.2431030273438,
                                   :x2 455.36656951904297,
                                   :y2 971.6083984375,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "difficult a task police officers have in recognizing fatigue as a major or contributing cause of road accidents"},
               :properties {:color "yellow"}}
              {:id #uuid "67f928bb-7da9-413c-bdf2-28e7b93aed84",
               :page 1,
               :position {:bounding {:x1 80.28984832763672,
                                     :y1 1018.3502807617188,
                                     :x2 634.3479537963867,
                                     :y2 1086.8369750976562,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 532.5953979492188,
                                   :y1 1018.3502807617188,
                                   :x2 633.9898681640625,
                                   :y2 1040.715576171875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 80.28984832763672,
                                   :y1 1041.4929809570312,
                                   :x2 634.3479537963867,
                                   :y2 1063.8582763671875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 80.28984832763672,
                                   :y1 1064.4716186523438,
                                   :x2 155.85585021972656,
                                   :y2 1086.8369750976562,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "here are also obvious difficulties in correctly identifying cases where a driver has fallen asleep"},
               :properties {:color "yellow"}}
              {:id #uuid "67f928db-65e8-4b22-a753-fb2651177c78",
               :page 1,
               :position {:bounding {:x1 80.28984832763672,
                                     :y1 1180.0425415039062,
                                     :x2 634.350456237793,
                                     :y2 1294.8289184570312,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 610.8825073242188,
                                   :y1 1180.0425415039062,
                                   :x2 634.3301391601562,
                                   :y2 1202.4078369140625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 80.28984832763672,
                                   :y1 1203.0211791992188,
                                   :x2 634.350456237793,
                                   :y2 1225.3865356445312,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 80.28984832763672,
                                   :y1 1225.9998779296875,
                                   :x2 634.3351364135742,
                                   :y2 1248.3651733398438,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 80.28984832763672,
                                   :y1 1249.313720703125,
                                   :x2 518.151237487793,
                                   :y2 1271.6790771484375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 530.0712890625,
                                   :y1 1249.313720703125,
                                   :x2 634.3094482421875,
                                   :y2 1271.6790771484375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 518.05419921875,
                                   :y1 1250.1124877929688,
                                   :x2 527.4468383789062,
                                   :y2 1264.7184448242188,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 80.28984832763672,
                                   :y1 1272.4635620117188,
                                   :x2 457.3809127807617,
                                   :y2 1294.8289184570312,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "the proportion of fatigue-related accidents in police reports and accident databases from different jurisdictions varies greatly, ranging from about1% for all police-reported accidents in the United States5 to about 20% in fatal accidents in New South Wales, Australia."},
               :properties {:color "yellow"}}
              {:id #uuid "67f92bbb-19b3-4815-8164-ba6b57c8948d",
               :page 2,
               :position {:bounding {:x1 78.98472595214844,
                                     :y1 507.5847625732422,
                                     :x2 633.69677734375,
                                     :y2 552.9287567138672,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 367.98345947265625,
                                   :y1 507.5847625732422,
                                   :x2 633.69677734375,
                                   :y2 529.9500579833984,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 78.98472595214844,
                                   :y1 530.5634002685547,
                                   :x2 310.5852966308594,
                                   :y2 552.9287567138672,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "where a car’s technical fault had a major or crucial role (n = 13)."},
               :properties {:color "yellow"}}
              {:id #uuid "67f92bf3-f554-4b94-9e7c-cb9f9b86d2eb",
               :page 2,
               :position {:bounding {:x1 403.2751770019531,
                                     :y1 1246.7819213867188,
                                     :x2 550.7377319335938,
                                     :y2 1269.1472778320312,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 403.2751770019531,
                                   :y1 1246.7819213867188,
                                   :x2 550.7377319335938,
                                   :y2 1269.1472778320312,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "weather conditions"},
               :properties {:color "yellow"}}
              {:id #uuid "67f92c85-e07f-4d0d-9231-31f56842610e",
               :page 2,
               :position {:bounding {:x1 78.98472595214844,
                                     :y1 1339.0317993164062,
                                     :x2 633.7376098632812,
                                     :y2 1407.3544921875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 427.7058410644531,
                                   :y1 1339.0317993164062,
                                   :x2 633.7376098632812,
                                   :y2 1361.3971557617188,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 78.98472595214844,
                                   :y1 1362.010498046875,
                                   :x2 633.7256317138672,
                                   :y2 1384.3757934570312,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 78.98472595214844,
                                   :y1 1384.9891357421875,
                                   :x2 555.2895965576172,
                                   :y2 1407.3544921875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "urrent annual mileage in33.1%, mileage with the present vehicle in 31.1%, and the extent of driving on the current road or in area where the accident happened"},
               :properties {:color "yellow"}}
              {:id #uuid "67f92cf8-dade-4978-bb6f-b72b5a557de9",
               :page 2,
               :position {:bounding {:x1 671.9870681762695,
                                     :y1 781.9737548828125,
                                     :x2 1226.7470779418945,
                                     :y2 850.4675903320312,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 1185.640510559082,
                                   :y1 781.9737548828125,
                                   :x2 1226.7138748168945,
                                   :y2 804.339111328125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 671.9870681762695,
                                   :y1 805.1235961914062,
                                   :x2 1226.724983215332,
                                   :y2 827.4889526367188,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 671.9870681762695,
                                   :y1 828.102294921875,
                                   :x2 1226.7470779418945,
                                   :y2 850.4675903320312,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "ay of week, time of day, road type, accident type, road condition, and age of the responsible driver significantly explained falling-asleep accidents."},
               :properties {:color "yellow"}}
              {:id #uuid "67f92d6d-42c1-4154-8d5a-503db5631664",
               :page 2,
               :position {:bounding {:x1 671.9870681762695,
                                     :y1 851.0809326171875,
                                     :x2 1182.0881423950195,
                                     :y2 873.4462585449219,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 671.9870681762695,
                                   :y1 851.0809326171875,
                                   :x2 1182.0881423950195,
                                   :y2 873.4462585449219,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "The highest odds ratios were in the early-morning time of accident"},
               :properties {:color "yellow"}}
              {:id #uuid "67f92d8e-35f6-4a9d-bf4b-0eed1e40f67b",
               :page 2,
               :position {:bounding {:x1 671.9870681762695,
                                     :y1 1058.5593872070312,
                                     :x2 1226.7251052856445,
                                     :y2 1150.0318908691406,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 697.533821105957,
                                   :y1 1058.5593872070312,
                                   :x2 1226.7251052856445,
                                   :y2 1080.9247131347656,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 671.9870681762695,
                                   :y1 1081.5380554199219,
                                   :x2 1226.705451965332,
                                   :y2 1103.9033813476562,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 671.9870681762695,
                                   :y1 1104.5167236328125,
                                   :x2 1226.718391418457,
                                   :y2 1126.8820495605469,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 671.9870681762695,
                                   :y1 1127.6665649414062,
                                   :x2 747.156379699707,
                                   :y2 1150.0318908691406,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "ncluding sleeping time last night into the regression model (Model 2) had a strong effect for under 6 hours (10.37 times higher than for sleep duration of 7 to 8 hours), while time-of-day effect no longer reached significance."},
               :properties {:color "yellow"}}
              {:id #uuid "67f92da5-5f72-4935-af15-cc313931fdc4",
               :page 2,
               :position {:bounding {:x1 671.9870681762695,
                                     :y1 1150.6452331542969,
                                     :x2 1226.7370681762695,
                                     :y2 1196.1532897949219,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 1107.1196365356445,
                                   :y1 1150.6452331542969,
                                   :x2 1226.7370681762695,
                                   :y2 1173.0105895996094,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 671.9870681762695,
                                   :y1 1173.7879333496094,
                                   :x2 1221.976936340332,
                                   :y2 1196.1532897949219,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "time awake and tiredness anamnesis (Model 3), the model sensitivity increased to 55.7%"},
               :properties {:color "yellow"}}
              {:id #uuid "67f92dd7-451c-4f5a-9967-aa970b91d95a",
               :page 2,
               :position {:bounding {:x1 671.9871063232422,
                                     :y1 1196.7666320800781,
                                     :x2 1226.7342987060547,
                                     :y2 1265.2604675292969,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 671.9871063232422,
                                   :y1 1196.7666320800781,
                                   :x2 1226.7342987060547,
                                   :y2 1219.1319580078125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 671.9871063232422,
                                   :y1 1219.7453002929688,
                                   :x2 1226.7156219482422,
                                   :y2 1242.1106262207031,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 671.9871063232422,
                                   :y1 1242.8951416015625,
                                   :x2 719.0950164794922,
                                   :y2 1265.2604675292969,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 2},
               :content {:text "Driving time had no significant effect in this car-driver sample, possibly due to the fact that 85% of participants had been driving less than 3 hours."},
               :properties {:color "yellow"}}
              {:id #uuid "67f92e41-f228-4158-8297-86e74a257176",
               :page 4,
               :position {:bounding {:x1 78.98472595214844,
                                     :y1 144.6614990234375,
                                     :x2 633.7269134521484,
                                     :y2 213.14822387695312,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 98.1764144897461,
                                   :y1 144.6614990234375,
                                   :x2 633.6798934936523,
                                   :y2 167.02685546875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 78.98472595214844,
                                   :y1 167.64019775390625,
                                   :x2 633.7269134521484,
                                   :y2 190.00552368164062,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 78.98472595214844,
                                   :y1 190.78289794921875,
                                   :x2 514.2375335693359,
                                   :y2 213.14822387695312,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 4},
               :content {:text "In cases where the driver’s task is easy and monotonous and demands little effort, as in open-road driving in good weather and road conditions, there are reasons to assume that fatigue will be induced,"},
               :properties {:color "yellow"}}
              {:id #uuid "67f92e50-3087-4f81-9598-59a56580c922",
               :page 4,
               :position {:bounding {:x1 78.98472595214844,
                                     :y1 236.91140747070312,
                                     :x2 633.7332000732422,
                                     :y2 374.5052795410156,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 591.738037109375,
                                   :y1 236.91140747070312,
                                   :x2 633.7173461914062,
                                   :y2 259.2767028808594,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 78.98472595214844,
                                   :y1 259.8900451660156,
                                   :x2 633.7090301513672,
                                   :y2 282.2554016113281,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 78.98472595214844,
                                   :y1 283.0398864746094,
                                   :x2 633.7280731201172,
                                   :y2 305.4052429199219,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 78.98472595214844,
                                   :y1 306.0185852050781,
                                   :x2 633.7077484130859,
                                   :y2 328.3838806152344,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 78.98472595214844,
                                   :y1 328.9901428222656,
                                   :x2 633.7332000732422,
                                   :y2 351.3554382324219,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 78.98472595214844,
                                   :y1 352.1399230957031,
                                   :x2 549.8892669677734,
                                   :y2 374.5052795410156,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 4},
               :content {:text "If the task is more demanding, instead, such as entering a crossing or driving in bad road conditions, falling asleep is a much less probable explanation, and perceptual errors or loss of control are more often offered as a primary cause, although fatigue, a lapse in attention, or even falling asleep might trigger or substantially contribute to the cause."},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
