{:highlights [{:id #uuid "67c6cc2b-310a-465e-bbfd-0371c0e77da3",
               :page 5,
               :position {:bounding {:x1 433.6065368652344,
                                     :y1 86.02381134033203,
                                     :x2 496.3443603515625,
                                     :y2 103.82479095458984,
                                     :width 722,
                                     :height 406.125},
                          :rects ({:x1 433.6065368652344,
                                   :y1 86.02381134033203,
                                   :x2 496.3443603515625,
                                   :y2 103.82479095458984,
                                   :width 722,
                                   :height 406.125}),
                          :page 5},
               :content {:text "hoofdzaak"},
               :properties {:color "yellow"}}
              {:id #uuid "67c6d911-7318-4962-a693-287f38adbc40",
               :page 16,
               :position {:bounding {:x1 40.89376449584961,
                                     :y1 154.26805305480957,
                                     :x2 363.7351951599121,
                                     :y2 204.26912117004395,
                                     :width 722,
                                     :height 406.125},
                          :rects ({:x1 40.89376449584961,
                                   :y1 154.26805305480957,
                                   :x2 363.7351951599121,
                                   :y2 172.06903266906738,
                                   :width 722,
                                   :height 406.125}
                                  {:x1 40.89376449584961,
                                   :y1 170.6497974395752,
                                   :x2 354.05138778686523,
                                   :y2 188.450777053833,
                                   :width 722,
                                   :height 406.125}
                                  {:x1 40.89376449584961,
                                   :y1 186.46814155578613,
                                   :x2 312.706111907959,
                                   :y2 204.26912117004395,
                                   :width 722,
                                   :height 406.125}),
                          :page 16},
               :content {:text "Volgens het kernpuntprincipe moet de eerste zin van de paragraaf de kernidee reeds bevatten. Beginnen met de conclusie is effectieve communicatie"},
               :properties {:color "yellow"}}],
 :extra {:page 27}}
