{:highlights [{:id #uuid "6807526c-c424-4d8f-a6f3-a12bbe92e2b8",
               :page 41,
               :position {:bounding {:x1 99.0964126586914,
                                     :y1 294.44366455078125,
                                     :x2 396.0711669921875,
                                     :y2 307.6802978515625,
                                     :width 742,
                                     :height 417.375},
                          :rects ({:x1 99.0964126586914,
                                   :y1 294.44366455078125,
                                   :x2 396.0711669921875,
                                   :y2 307.6802978515625,
                                   :width 742,
                                   :height 417.375}),
                          :page 41},
               :content {:text "Volledig begrijpelijk zijn zonder bijkomende context"},
               :properties {:color "yellow"}}
              {:id #uuid "680753b8-6b00-439d-8411-147c04142976",
               :page 42,
               :position {:bounding {:x1 50.04386901855469,
                                     :y1 267.68511962890625,
                                     :x2 671.260009765625,
                                     :y2 295.7630310058594,
                                     :width 742,
                                     :height 417.375},
                          :rects ({:x1 50.04386901855469,
                                   :y1 267.68511962890625,
                                   :x2 671.260009765625,
                                   :y2 281.8346252441406,
                                   :width 742,
                                   :height 417.375}
                                  {:x1 50.04386901855469,
                                   :y1 281.613525390625,
                                   :x2 422.52459716796875,
                                   :y2 295.7630310058594,
                                   :width 742,
                                   :height 417.375}),
                          :page 42},
               :content {:text "Dit gedeelte mag in de tegenwoordige of verleden tijd staan, maar niet in de toekomende tijd – het onderzoek is immers al afgerond. → behalve voor MP1 !!!"},
               :properties {:color "yellow"}}
              {:id #uuid "680755a3-a14e-4ad9-beb8-3793fd1a90de",
               :page 44,
               :position {:bounding {:x1 0,
                                     :y1 46.01439666748047,
                                     :x2 742,
                                     :y2 844.7478866577148,
                                     :width 742,
                                     :height 417.375},
                          :rects ({:x1 52.68263626098633,
                                   :y1 46.01439666748047,
                                   :x2 143.63217544555664,
                                   :y2 64.7282485961914,
                                   :width 742,
                                   :height 417.375}
                                  {:x1 60.57754135131836,
                                   :y1 300.43436431884766,
                                   :x2 660.971923828125,
                                   :y2 314.58386993408203,
                                   :width 742,
                                   :height 417.375}
                                  {:x1 0,
                                   :y1 427.3733444213867,
                                   :x2 742,
                                   :y2 844.7478866577148,
                                   :width 742,
                                   :height 417.375}),
                          :page 44},
               :content {:text "Focus op de belangrijkste bevindingen die de lezer helpen om je conclusies te begrijpen. ABSTRACT"},
               :properties {:color "yellow"}}],
 :extra {:page 45}}
