{:highlights [{:id #uuid "67ab1dd3-04d5-446b-854c-84d1154f8fb3",
               :page 8,
               :position {:bounding {:x1 54.3359375,
                                     :y1 235.28125,
                                     :x2 98.03756713867188,
                                     :y2 245.78125,
                                     :width 777.0000000000001,
                                     :height 582.7500000000001},
                          :rects ({:x1 54.3359375,
                                   :y1 235.28125,
                                   :x2 98.03756713867188,
                                   :y2 245.78125,
                                   :width 777.0000000000001,
                                   :height 582.7500000000001}),
                          :page 8},
               :content {:text "Voorbeeld"},
               :properties {:color "yellow"}}
              {:id #uuid "67ab272e-77f2-4501-b664-0f1432863ea0",
               :page 16,
               :position {:bounding {:x1 63.9609375,
                                     :y1 158.296875,
                                     :x2 322.3924255371094,
                                     :y2 172.796875,
                                     :width 777.0000000000001,
                                     :height 582.7500000000001},
                          :rects ({:x1 63.9609375,
                                   :y1 158.296875,
                                   :x2 322.3924255371094,
                                   :y2 172.796875,
                                   :width 777.0000000000001,
                                   :height 582.7500000000001}),
                          :page 16},
               :content {:text "Welke theorieën en modellen zijn relevant?"},
               :properties {:color "yellow"}}
              {:id #uuid "67ab2d02-657b-451e-a60d-a23bac9a38a3",
               :page 27,
               :position {:bounding {:x1 55.21875,
                                     :y1 64.3828125,
                                     :x2 142.1402130126953,
                                     :y2 84.3828125,
                                     :width 777.0000000000001,
                                     :height 582.7500000000001},
                          :rects ({:x1 55.21875,
                                   :y1 64.3828125,
                                   :x2 142.1402130126953,
                                   :y2 84.3828125,
                                   :width 777.0000000000001,
                                   :height 582.7500000000001}),
                          :page 27},
               :content {:text "AI TOOLS"},
               :properties {:color "yellow"}}
              {:id #uuid "67b45253-675e-4841-8909-c91771df0659",
               :page 34,
               :position {:bounding {:x1 144.7265625,
                                     :y1 132.6796875,
                                     :x2 202.87777709960938,
                                     :y2 145.1796875,
                                     :width 532,
                                     :height 399},
                          :rects ({:x1 144.7265625,
                                   :y1 132.6796875,
                                   :x2 202.87777709960938,
                                   :y2 145.1796875,
                                   :width 532,
                                   :height 399}),
                          :page 34},
               :content {:text "Theoretische"},
               :properties {:color "yellow"}}
              {:id #uuid "67b454c7-0247-4461-98ae-ec2354f01f8e",
               :page 35,
               :position {:bounding {:x1 33.1171875,
                                     :y1 120.9375,
                                     :x2 74.56124877929688,
                                     :y2 131.4375,
                                     :width 532,
                                     :height 399},
                          :rects ({:x1 33.1171875,
                                   :y1 120.9375,
                                   :x2 74.56124877929688,
                                   :y2 131.4375,
                                   :width 532,
                                   :height 399}),
                          :page 35},
               :content {:text "Selecteer"},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
