{:highlights [{:id #uuid "67fd21a6-026f-4619-9bd6-8d27c5be3ec4",
               :page 3,
               :position {:bounding {:x1 64.73538208007812,
                                     :y1 1182.5743103027344,
                                     :x2 601.7357482910156,
                                     :y2 1309.6131286621094,
                                     :width 1266.8970666666664,
                                     :height 1689.6},
                          :rects ({:x1 566.9314498901367,
                                   :y1 1182.5743103027344,
                                   :x2 601.336784362793,
                                   :y2 1207.2218322753906,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 1208.2559509277344,
                                   :x2 601.7357482910156,
                                   :y2 1232.9034729003906,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 1233.7735290527344,
                                   :x2 601.7029724121094,
                                   :y2 1258.4210510253906,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 1259.2840270996094,
                                   :x2 601.7211608886719,
                                   :y2 1283.9314880371094,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 1284.9656066894531,
                                   :x2 351.5461120605469,
                                   :y2 1309.6131286621094,
                                   :width 1266.8970666666664,
                                   :height 1689.6}),
                          :page 3},
               :content {:text "The risk on abnormal driving behavior and ensuing car accidents depends on numerous factors, such as predisposing driving style and individual characteristics (e.g., age, gender) of the car-driver and intake of alcohol"},
               :properties {:color "yellow"}}
              {:id #uuid "67fd21f0-12c2-4c05-bae6-75253fe45ab1",
               :page 4,
               :position {:bounding {:x1 102.23441314697266,
                                     :y1 211.05859375,
                                     :x2 639.1734390258789,
                                     :y2 286.9053039550781,
                                     :width 1266.8970666666664,
                                     :height 1689.6},
                          :rects ({:x1 338.64327239990234,
                                   :y1 211.05859375,
                                   :x2 639.1471481323242,
                                   :y2 235.70611572265625,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 102.23441314697266,
                                   :y1 236.57620239257812,
                                   :x2 639.1734390258789,
                                   :y2 261.2237243652344,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 102.23441314697266,
                                   :y1 262.2578430175781,
                                   :x2 124.67105865478516,
                                   :y2 286.9053039550781,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 135.29744720458984,
                                   :y1 262.2578430175781,
                                   :x2 225.2651596069336,
                                   :y2 286.9053039550781,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 236.0199203491211,
                                   :y1 262.2578430175781,
                                   :x2 254.78368377685547,
                                   :y2 286.9053039550781,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 265.28170013427734,
                                   :y1 262.2578430175781,
                                   :x2 304.19283294677734,
                                   :y2 286.9053039550781,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 314.81920623779297,
                                   :y1 262.2578430175781,
                                   :x2 379.5688705444336,
                                   :y2 286.9053039550781,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 390.20238494873047,
                                   :y1 262.2578430175781,
                                   :x2 412.88863372802734,
                                   :y2 286.9053039550781,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 423.52217864990234,
                                   :y1 262.2578430175781,
                                   :x2 475.4773483276367,
                                   :y2 286.9053039550781,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 486.10375213623047,
                                   :y1 262.2578430175781,
                                   :x2 553.513542175293,
                                   :y2 286.9053039550781,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 564.0187301635742,
                                   :y1 262.2578430175781,
                                   :x2 639.076286315918,
                                   :y2 286.9053039550781,
                                   :width 1266.8970666666664,
                                   :height 1689.6}),
                          :page 4},
               :content {:text "e attempted to create a model to evaluate the effect of sleep deprivation on driving behavior as sleepiness is also known to affect driving behavior"},
               :properties {:color "yellow"}}
              {:id #uuid "67fd5ba2-316a-464f-89df-2957b17fafc0",
               :page 4,
               :position {:bounding {:x1 102.23441314697266,
                                     :y1 313.6210632324219,
                                     :x2 639.2426528930664,
                                     :y2 440.8239440917969,
                                     :width 1266.8970666666664,
                                     :height 1689.6},
                          :rects ({:x1 362.01757049560547,
                                   :y1 313.6210632324219,
                                   :x2 637.9763107299805,
                                   :y2 338.2685852050781,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 102.23441314697266,
                                   :y1 339.1315612792969,
                                   :x2 639.2211685180664,
                                   :y2 363.7790832519531,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 102.23441314697266,
                                   :y1 364.8131408691406,
                                   :x2 639.2426528930664,
                                   :y2 389.4606628417969,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 102.23441314697266,
                                   :y1 390.4947814941406,
                                   :x2 639.143424987793,
                                   :y2 415.1423034667969,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 102.23441314697266,
                                   :y1 416.1764221191406,
                                   :x2 250.67159271240234,
                                   :y2 440.8239440917969,
                                   :width 1266.8970666666664,
                                   :height 1689.6}),
                          :page 4},
               :content {:text "lthough drowsy drivers are as dangerous as drivers with unlawful blood alcohol levels they cannot be caught in a police checkpoint, but only in case of a perceived dangerous driving situation (Haraldsson and Akerstedt 2001)"},
               :properties {:color "yellow"}}
              {:id #uuid "67fd5c74-79ae-4fba-af71-6db644234bdf",
               :page 5,
               :position {:bounding {:x1 64.73538208007812,
                                     :y1 108.50326538085938,
                                     :x2 601.6774215698242,
                                     :y2 159.1676025390625,
                                     :width 1266.8970666666664,
                                     :height 1689.6},
                          :rects ({:x1 442.5820846557617,
                                   :y1 108.50326538085938,
                                   :x2 601.6774215698242,
                                   :y2 133.1507568359375,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 134.52008056640625,
                                   :x2 333.81475830078125,
                                   :y2 159.1676025390625,
                                   :width 1266.8970666666664,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "ogistic regression and Support Vector Machine"},
               :properties {:color "red"}}
              {:id #uuid "67fd5c82-6270-454d-9315-61087be6c853",
               :page 5,
               :position {:bounding {:x1 64.73538208007812,
                                     :y1 160.37286376953125,
                                     :x2 601.7175598144531,
                                     :y2 288.7596130371094,
                                     :width 1266.8970666666664,
                                     :height 1689.6},
                          :rects ({:x1 354.47338104248047,
                                   :y1 160.37286376953125,
                                   :x2 601.2935104370117,
                                   :y2 185.0203857421875,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 186.38967895507812,
                                   :x2 601.6492614746094,
                                   :y2 211.03720092773438,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 212.24246215820312,
                                   :x2 601.7175598144531,
                                   :y2 236.88998413085938,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 238.25930786132812,
                                   :x2 601.6947326660156,
                                   :y2 262.9068298339844,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 264.1120910644531,
                                   :x2 163.8408432006836,
                                   :y2 288.7596130371094,
                                   :width 1266.8970666666664,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "The non-linear models gave the best performances. Random forest and gradient boosting models both showed an accuracy 81% for the alprazolam training set, and 65% and 68% for the alcohol training set, respectivel"},
               :properties {:color "red"}}
              {:id #uuid "67fd5cb0-1247-4f7c-8b8a-e3315dc31449",
               :page 5,
               :position {:bounding {:x1 64.73538208007812,
                                     :y1 523.1249237060547,
                                     :x2 601.682731628418,
                                     :y2 599.6492156982422,
                                     :width 1266.8970666666664,
                                     :height 1689.6},
                          :rects ({:x1 107.30512237548828,
                                   :y1 523.1249237060547,
                                   :x2 601.6082077026367,
                                   :y2 547.7724456787109,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 548.9777374267578,
                                   :x2 601.682731628418,
                                   :y2 573.6252288818359,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 64.73538208007812,
                                   :y1 575.0016937255859,
                                   :x2 484.02252197265625,
                                   :y2 599.6492156982422,
                                   :width 1266.8970666666664,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "The model performance was evaluated by assessing accuracy, specificity, sensitivity, positive predictive values(PPV), and negative predictive values (NPV"},
               :properties {:color "red"}}
              {:id #uuid "67fd5d29-2d76-4bf2-9a6e-7e8fbc26b9f8",
               :page 5,
               :position {:bounding {:x1 628.2477340698242,
                                     :y1 734.8325347900391,
                                     :x2 1165.2407150268555,
                                     :y2 785.1616973876953,
                                     :width 1266.8970666666664,
                                     :height 1689.6},
                          :rects ({:x1 764.1457443237305,
                                   :y1 734.8325347900391,
                                   :x2 1165.2407150268555,
                                   :y2 759.4800567626953,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 628.2477340698242,
                                   :y1 760.5141754150391,
                                   :x2 1160.8862228393555,
                                   :y2 785.1616973876953,
                                   :width 1266.8970666666664,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "The most important feature for predicting whether a subject was driving sleep-deprived was the SDLP"},
               :properties {:color "green"}}
              {:id #uuid "67fd5d84-e626-444d-acb4-992d5739d87e",
               :page 6,
               :position {:bounding {:x1 665.7467288970947,
                                     :y1 1281.0787963867188,
                                     :x2 1202.7594242095947,
                                     :y2 1356.925537109375,
                                     :width 1266.8970666666664,
                                     :height 1689.6},
                          :rects ({:x1 1040.7682132720947,
                                   :y1 1281.0787963867188,
                                   :x2 1202.3792972564697,
                                   :y2 1305.726318359375,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 665.7467288970947,
                                   :y1 1306.5963745117188,
                                   :x2 1202.7594242095947,
                                   :y2 1331.243896484375,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 665.7467288970947,
                                   :y1 1332.2780151367188,
                                   :x2 1156.4823246002197,
                                   :y2 1356.925537109375,
                                   :width 1266.8970666666664,
                                   :height 1689.6}),
                          :page 6},
               :content {:text "The current study has shown that, by using machine learning, the effect of sleep deprivation on driving behavior can be classified"},
               :properties {:color "green"}}
              {:id #uuid "67fd5d94-c5c5-4977-b927-5fd4ea4964fd",
               :page 6,
               :position {:bounding {:x1 665.7467288970947,
                                     :y1 1383.4700927734375,
                                     :x2 1202.7230472564697,
                                     :y2 1484.8272705078125,
                                     :width 1266.8970666666664,
                                     :height 1689.6},
                          :rects ({:x1 665.7467288970947,
                                   :y1 1383.4700927734375,
                                   :x2 1202.7230472564697,
                                   :y2 1408.1175537109375,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 665.7467288970947,
                                   :y1 1409.1516723632812,
                                   :x2 1202.6980228424072,
                                   :y2 1433.7991943359375,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 665.7467288970947,
                                   :y1 1434.6621704101562,
                                   :x2 1202.6662845611572,
                                   :y2 1459.3096923828125,
                                   :width 1266.8970666666664,
                                   :height 1689.6}
                                  {:x1 665.7467288970947,
                                   :y1 1460.1797485351562,
                                   :x2 826.3559818267822,
                                   :y2 1484.8272705078125,
                                   :width 1266.8970666666664,
                                   :height 1689.6}),
                          :page 6},
               :content {:text "The current study did also show that driving behavior after sleep deprivation had a great similarity with driving behavior after alprazolam intake and to a lesser extent after alcohol intake of 1 g/l"},
               :properties {:color "green"}}],
 :extra {:page 5}}
